a {
	text-decoration: var(--link-decoration, underline);
	text-underline-offset: 0.125em;
	color: var(--link-color, inherit);
	transition: color 150ms linear;

	&:hover {
		color: var(--link-hover-color);
	}

	&:visited:not(:hover) {
		color: var(--link-visited-color);
	}
}
