@font-face {
	font-family: "Sporting Grotesque";
	src: url("/fonts/SportingGrotesque-Bold-latin.woff2") format("woff2");
	font-weight: bold;
	font-display: swap;
}

@font-face {
	font-family: "Sporting Grotesque";
	src: url("/fonts/SportingGrotesque-latin.woff2") format("woff2");
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: Epilogue;
	src: url("/fonts/Epilogue[slnt,wght]-latin.woff2")
			format("woff2 supports variations"),
		url("/fonts/Epilogue[slnt,wght]-latin.woff2") format("woff2-variations");
	font-style: normal;
	font-weight: 100 900;
	font-style: oblique -12deg 0deg;
	font-display: swap;
}

:root {
	--font-body: Epilogue, sans-serif;
	--font-display: "Sporting Grotesque", sans-serif;
	--font-mono: ui-monospace, monospace;

	/* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1280,24,1.618,4,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
	--font-size--1: clamp(0.8rem, calc(0.76rem + 0.21vw), 0.93rem);
	--font-size-0: clamp(1rem, calc(0.83rem + 0.83vw), 1.5rem);
	--font-size-1: clamp(1.25rem, calc(0.86rem + 1.96vw), 2.43rem);
	--font-size-2: clamp(1.56rem, calc(0.77rem + 3.94vw), 3.93rem);
	--font-size-3: clamp(1.95rem, calc(0.49rem + 7.33vw), 6.35rem);
	--font-size-4: clamp(2.44rem, calc(-0.17rem + 13.06vw), 10.28rem);

	--font-weight-regular: 275;
	--font-weight-semi-bold: 350;
	--font-weight-bold: 500;
	--font-weight-black: 750;

	--line-height-xs: 1;
	--line-height-s: 1.15;
	--line-height-m: 1.5;

	--display-1: bold var(--font-size-4)/var(--line-height-xs) var(--font-display);

	--heading-1: var(--font-weight-black) var(--font-size-2)/var(--line-height-s)
		var(--font-body);
	--heading-1-features: "ss01";
	--heading-2: var(--font-weight-black) var(--font-size-1)/var(--line-height-s)
		var(--font-body);
	--heading-2-features: "ss01";
	--heading-3: var(--font-weight-black) var(--font-size-0)/var(--line-height-s)
		var(--font-body);
	--heading-3-features: "ss01";

	--body-1: var(--text-style, normal) var(--font-weight-regular)
		var(--font-size-1)/var(--line-height-s) var(--font-body);
	--body-2: var(--text-style, normal) var(--font-weight-regular)
		var(--font-size-0)/var(--line-height-m) var(--font-body);
	--body-3: var(--text-style, normal) var(--font-weight-semi-bold)
		var(--font-size--1)/var(--line-height-m) var(--font-body);

	--measure-xs: 34ch;
	--measure-s: 42ch;
	--measure-m: 54ch;
	--measure-l: 72ch;
	--measure-xl: 88ch;

	--color-gray-1: #ffffff;
	--color-gray-2: #eaeaea;
	--color-gray-3: #959595;
	--color-gray-4: #6d6d6d;
	--color-gray-5: #303030;
	--color-gray-6: #222222;

	--color-magenta-1: #A3224D;

	--color-yellow-1: #ddad3f;

	/* @link https://utopia.fyi/space/calculator?c=320,16,1.125,1280,24,1.414,5,1,&s=0.75,1.5|2|3, */
	--space-xs: clamp(0.75rem, calc(0.63rem + 0.63vw), 1.13rem);
	--space-s: clamp(1rem, calc(0.83rem + 0.83vw), 1.5rem);
	--space-m: clamp(1.5rem, calc(1.25rem + 1.25vw), 2.25rem);
	--space-l: clamp(2rem, calc(1.67rem + 1.67vw), 3rem);
	--space-xl: clamp(3rem, calc(2.5rem + 2.5vw), 4.5rem);

	/* Single steps */
	--space-xs-s: clamp(0.75rem, calc(0.5rem + 1.25vw), 1.5rem);
	--space-s-m: clamp(1rem, calc(0.58rem + 2.08vw), 2.25rem);
	--space-m-l: clamp(1.5rem, calc(1rem + 2.5vw), 3rem);
	--space-l-xl: clamp(2rem, calc(1.17rem + 4.17vw), 4.5rem);

	/* Additional sizes */
	--space-card: 20rem;
	--space-max-site: 80rem;

	/* Color scheme */
	--surface-1: var(--color-gray-1);
	--surface-2: var(--color-gray-2);
	--surface-3: var(--color-gray-3);
	--text-1: var(--color-gray-6);
	--text-2: var(--color-gray-5);
	--text-3: var(--color-gray-4);
	--primary-1: var(--color-magenta-1);
	--secondary-1: var(--color-yellow-1);

	--site-margin: var(--space-s);
	--icon-m: var(--font-size-1);
}

[data-theme=light] {
	--surface-1: var(--color-gray-1);
	--surface-2: var(--color-gray-2);
	--surface-3: var(--color-gray-3);
	--text-1: var(--color-gray-6);
	--text-2: var(--color-gray-5);
	--text-3: var(--color-gray-4);
	--primary-1: var(--color-magenta-1);
	--secondary-1: var(--color-yellow-1);
}

@media (prefers-color-scheme: dark) {
	:root {
		--surface-1: var(--color-gray-6);
		--surface-2: var(--color-gray-5);
		--surface-3: var(--color-gray-4);
		--text-1: var(--color-gray-1);
		--text-2: var(--color-gray-2);
		--text-3: var(--color-gray-3);
		--primary-1: var(--color-yellow-1);
		--secondary-1: var(--color-magenta-1);
	}
}

[data-theme=dark] {
	--surface-1: var(--color-gray-6);
	--surface-2: var(--color-gray-5);
	--surface-3: var(--color-gray-4);
	--text-1: var(--color-gray-1);
	--text-2: var(--color-gray-2);
	--text-3: var(--color-gray-3);
	--primary-1: var(--color-yellow-1);
	--secondary-1: var(--color-magenta-1);
}
