{% macro projectSummary(project) %}
  {% set classAttr = " class='project-summary--" + project.class + "'" if project.class else "" %}
  {% set styleAttr = " style='--color-1:#" + project.color + "'" if project.color else "" %}

  <article{{ classAttr | safe }}{{ styleAttr | safe }}>
    <div class="project-summary__container">
      <header class="project-summary__header">
        <h2>{{ project.title }}</h2>
        <p class="type-body-3">{{ project.client | safe }}</p>
      </header>

      <div class="project-summary__media">
        {% set vimeo = r/vimeo\.com/g %}
        {% if vimeo.test(project.media) %}
          <iframe class="video" src="{{ project.media }}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        {% else %}
          <img src="{{ project.media }}" alt="{{ project.mediaAlt }}">
        {% endif %}
      </div>

      <div class="project-summary__body">
        {{ caller() }}
      </div>
    </div>
  </article>
{% endmacro %}
