@mixin display-1 {
	font-size: var(--font-size-4);
	font-family: var(--font-display);
	line-height: var(--line-height-xs);
}

@mixin heading-1 {
	font-size: var(--font-size-2);
	font-weight: var(--font-black, bold);
	font-family: var(--font-body);
	font-feature-settings: normal;
	line-height: var(--line-height-sm);
	text-transform: lowercase;
}

@mixin heading-2 {
	font-size: var(--font-size-1);
	font-weight: var(--font-bold, bold);
	font-family: var(--font-body);
	font-feature-settings: normal;
	line-height: var(--line-height-sm);
}

@mixin heading-3 {
	font-size: var(--font-size-0);
	font-weight: var(--font-semi-bold, normal);
	line-height: var(--line-height-md);
	font-family: var(--font-body);
	font-feature-settings: "ss01";
	letter-spacing: 0.05em;
	text-transform: lowercase;
	color: var(--color-gray-4);
}

@mixin body-1 {
	font-size: var(--font-size-2);
	font-weight: var(--font-weight-semi-bold);
	line-height: var(--line-height-s);
	font-family: var(--font-body);
}

@mixin body-2 {
	@include body-1;
	font-size: var(--font-size-1);
	font-style: italic;
	font-feature-settings: "ss01";
	line-height: var(--line-height-s);
}

@mixin body-3 {
	@include body-1;
	font-size: var(--font-size-0);
	font-weight: var(--font-weight-regular);
	line-height: var(--line-height-m);
}

@mixin body-4 {
	@include body-1;
	font-size: var(--font-size--1);
	line-height: var(--line-height-m);
}
