<div class="theme-toggle pad-block-fluid-md" data-layout="center">
  <div class="type-body-4"
			style="--space:var(--space-xs)"
			data-layout="cluster"
			data-cluster="center"
			onclick="onThemeToggle(event)">
    <button data-toggle-theme="light">Light</button>
    <button data-toggle-theme="system" aria-pressed="true">System</button>
    <button data-toggle-theme="dark">Dark</button>
  </div>
</div>
