<nav class="site-nav">
  <ul>
    {% for link in navigation %}
      {% set currentAttr = "" %}
      {% set relAttr = "" %}

      {% if page.url == link.url %}
        {% set currentAttr = ' aria-current="page"' %}
      {% endif %}

      {% if link.rel %}
        {% set relAttr = ' rel="' + link.rel + '"' %}
      {% endif %}

      <li>
        <a href="{{ link.url | url }}"{{ relAttr | safe }}{{ currentAttr | safe }}>
          {{ link.text | safe }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
