<article>
  <h2>
    <a href="{{ postUrl }}" class="color-ink decoration-none">{{ postTitle }}</a>
  </h2>
  <p class="font-heading color-slate size--1">
    <time datetime="{{ postPubDate | isoDateFilter }}">
      {{ postPubDate | dateFilter }}
    </time>
  </p>
  <p class="margin-top-1">{{ postDescription }}</p>
</article>
