<article class="post-summary">
  <h2 class="post-summary__title">
    <a href="{{ post.url }}" class="post-summary__link">
      {{ post.data.title }}
    </a>
  </h2>
  <p class="post-summary__date">
      {{ pubDate(post.data.date) }}
  </p>
  <p class="post-summary__description">{{ post.data.description }}</p>
</article>
