{% set classAttr = " class='" + projectClass + "'" if projectClass else "" %}
{% set styleAttr = " style='--color-1:" + projectColor + "'" if projectColor else "" %}

<article{{ classAttr | safe }}{{ styleAttr | safe }}>
  <div class="project-summary__container">
    <header class="project-summary__header">
      <h2>{{ projectTitle }}</h2>
      <p>{{ projectRole }}</p>
    </header>

    <div class="project-summary__media">
      <img src="{{ projectMedia }}" alt="{{ projectMediaAlt }}">
    </div>

    <div class="project-summary__body">
      {{ projectDescription | safe }}
    </div>
  </div>
</article>
