{% set target %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}
{% set mentions = webmentions | webmentionsForUrl(target) %}

<aside class="[ margin-top-3 ]">
  <h2 class="[ font-heading ]">Webmentions</h2>
  <p>
    <small><a href="/weblog/webmentions/">What’s a “Webmention”</a>, you ask?</small>
  </p>
  <div class="[ flow ] [ margin-top-2 ]">
    {% for webmention in mentions %}
      {% include "partials/components/webmention.njk" %}
    {% else %}
      <p class="[ text-italic ]">No one’s mentioned this post yet.</p>
    {% endfor %}
  </div>
</aside>
