@font-face {
	font-family: "Sporting Grotesque";
	src: url("/fonts/SportingGrotesque-Bold-latin.woff2") format("woff2");
	font-weight: bold;
	font-display: swap;
}

@font-face {
	font-family: "Sporting Grotesque";
	src: url("/fonts/SportingGrotesque-latin.woff2") format("woff2");
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: Epilogue;
	src: url("/fonts/Epilogue[slnt,wght]-latin.woff2")
			format("woff2 supports variations"),
		url("/fonts/Epilogue[slnt,wght]-latin.woff2") format("woff2-variations");
	font-style: normal;
	font-weight: 100 900;
	font-style: oblique -12deg 0deg;
	font-display: swap;
}

@layer reset {
	* {
		margin: 0;
	}

	body {
		min-block-size: 100%;
		min-block-size: 100dvb;
	}

	canvas,
	iframe,
	img,
	svg,
	video {
		display: block;
		max-inline-size: 100%;
	}

	img {
		height: auto;
	}

	button,
	input,
	select,
	textarea {
		font: inherit;
	}

	[hidden] {
		display: none;
	}

	[role="list"] {
		list-style: none;
		padding: 0;
	}

	[role="list"] > li {
		margin: 0;
	}

	@media (prefers-reduced-motion: no-preference) {
		html:focus-within {
			scroll-behavior: smooth;
		}
	}

	@media screen and (-ms-high-contrast: active) {
		button {
			border: 2px solid currentcolor;
		}
	}
}

@layer base {
	:root,
	*::after,
	*::before {
		--font-body: Epilogue, sans-serif;
		--font-display: "Sporting Grotesque", sans-serif;
		--font-mono: ui-monospace, monospace;

		/* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1280,24,1.618,4,2,&s=,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
		--font-size--2: clamp(0.57rem, calc(0.66rem + -0.11vw), 0.64rem);
		--font-size--1: clamp(0.8rem, calc(0.76rem + 0.21vw), 0.93rem);
		--font-size-0: clamp(1rem, calc(0.83rem + 0.83vw), 1.5rem);
		--font-size-1: clamp(1.25rem, calc(0.86rem + 1.96vw), 2.43rem);
		--font-size-2: clamp(1.56rem, calc(0.77rem + 3.94vw), 3.93rem);
		--font-size-3: clamp(1.95rem, calc(0.49rem + 7.33vw), 6.35rem);
		--font-size-4: clamp(2.44rem, calc(-0.17rem + 13.06vw), 10.28rem);

		--font-weight-regular: 275;
		--font-weight-semi-bold: 350;
		--font-weight-bold: 500;
		--font-weight-black: 750;

		--line-height-xs: 1;
		--line-height-s: 1.15;
		--line-height-m: 1.5;

		--display-1: bold var(--font-size-4) / var(--line-height-xs)
			var(--font-display);

		--heading-1: var(--font-weight-black) var(--font-size-2) /
			var(--line-height-s) var(--font-body);
		--heading-1-features: "ss01";
		--heading-2: var(--font-weight-black) var(--font-size-1) /
			var(--line-height-s) var(--font-body);
		--heading-2-features: "ss01";
		--heading-3: var(--font-weight-black) var(--font-size-0) /
			var(--line-height-s) var(--font-body);
		--heading-3-features: "ss01";
		--heading-4: var(--font-weight-black) var(--font-size--1) /
			var(--line-height-xs) var(--font-body);
		--heading-4-features: "ss01";

		--body-1: var(--text-style, normal) var(--font-weight-regular)
			var(--font-size-1) / var(--line-height-s) var(--font-body);
		--body-2: var(--text-style, normal) var(--font-weight-regular)
			var(--font-size-0) / var(--line-height-m) var(--font-body);
		--body-3: var(--text-style, normal) var(--font-weight-semi-bold)
			var(--font-size--1) / var(--line-height-m) var(--font-body);
		--body-3-black: var(--text-style, normal) var(--font-weight-black)
			var(--font-size--1) / var(--line-height-m) var(--font-body);

		--measure-xs: 27.9rem;
		--measure-s: 34.5rem;
		--measure-m: 44.5rem; /* 54ch @ 16px; 0.82 rem/ch */
		--measure-l: 59rem;
		--measure-xl: 72.2rem;

		--color-gray-1: #ffffff;
		--color-gray-2: #eaeaea;
		--color-gray-3: #959595;
		--color-gray-4: #6d6d6d;
		--color-gray-5: #303030;
		--color-gray-6: #222222;

		--color-magenta-1: #a3224d;

		--color-yellow-1: #ddad3f;

		/* @link https://utopia.fyi/space/calculator?c=320,16,1.125,1280,24,1.414,5,1,&s=0.75,1.5|2|3, */
		--space-2xs: clamp(0.5rem, calc(0.42rem + 0.42vw), 0.75rem);
		--space-xs: clamp(0.75rem, calc(0.63rem + 0.63vw), 1.13rem);
		--space-s: clamp(1rem, calc(0.83rem + 0.83vw), 1.5rem);
		--space-m: clamp(1.5rem, calc(1.25rem + 1.25vw), 2.25rem);
		--space-l: clamp(2rem, calc(1.67rem + 1.67vw), 3rem);
		--space-xl: clamp(3rem, calc(2.5rem + 2.5vw), 4.5rem);

		/* Single steps */
		--space-xs-s: clamp(0.75rem, calc(0.5rem + 1.25vw), 1.5rem);
		--space-s-m: clamp(1rem, calc(0.58rem + 2.08vw), 2.25rem);
		--space-m-l: clamp(1.5rem, calc(1rem + 2.5vw), 3rem);
		--space-l-xl: clamp(2rem, calc(1.17rem + 4.17vw), 4.5rem);

		/* Additional sizes */
		--space-card: 20rem;
		--space-max-site: 80rem;

		/* Color scheme */
		--surface-1: var(--color-gray-1);
		--surface-2: var(--color-gray-2);
		--surface-3: var(--color-gray-3);
		--text-1: var(--color-gray-6);
		--text-2: var(--color-gray-5);
		--text-3: var(--color-gray-4);
		--primary-1: var(--color-magenta-1);
		--secondary-1: var(--color-yellow-1);

		--site-margin: var(--space-s);
		--icon-m: var(--font-size-1);

		--link-visited-color: var(--text-1);
		--link-hover-color: var(--primary-1);
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--surface-1: var(--color-gray-6);
			--surface-2: var(--color-gray-5);
			--surface-3: var(--color-gray-4);
			--text-1: var(--color-gray-1);
			--text-2: var(--color-gray-2);
			--text-3: var(--color-gray-3);
			--primary-1: var(--color-yellow-1);
			--secondary-1: var(--color-magenta-1);
		}
	}

	:focus:not(:focus-visible) {
		outline: none;
	}

	:focus-visible {
		outline: 0.25rem solid var(--text-1);
		outline-offset: 0.25rem;
	}

	body {
		font: var(--body-2);

		background: var(--surface-1);
		color: var(--text-1);
		display: grid;
		grid-template-rows: auto 1fr auto;

		/* Prevent scrollbars (especially on windows) when setting inline-size to
		* 100vw to achive full-bleed or other breakout effects in the layout.
		*/
		overflow-x: hidden;
		padding-inline: var(--site-margin);
	}

	body > header {
		--space: var(--space-s);
		--link-decoration: none;

		align-items: center;
		display: grid;
		grid-auto-flow: row;
		justify-items: center;
		row-gap: var(--space-m);
	}

	header a[href="/"] {
		background-image: url("/img/evan-alt-64.jpg");
		background-size: cover;
	}

	header a[href="/"]:hover > * {
		opacity: 0;
	}

	header theme-select {
		justify-self: stretch;
	}

	a[href="#Skip"] {
		--link-decoration: underline;
		color: var(--text-2);
	}

	footer svg {
		display: inline-block;
		height: 1.15em;
		vertical-align: text-bottom;
	}

	hr {
		border: none;
		border-block-start: 1px solid var(--text-1);
	}

	@media (min-width: 50rem) {
		body > header {
			grid-auto-flow: column;
			grid-template-columns: repeat(3, 1fr);
		}

		a[href="#Skip"] {
			align-self: end;
			justify-self: start;
		}

		.theme-section {
			justify-self: end;
		}
	}

	h1 {
		font: var(--heading-1);
		font-feature-settings: var(--heading-1-features);
		margin-block: var(--space-xl);
	}

	h2 {
		font: var(--heading-2);
		font-feature-settings: var(--heading-2-features);
	}

	h3 {
		font: var(--heading-3);
		font-feature-settings: var(--heading-3-features);
	}

	h4 {
		font: var(--heading-3);
		color: var(--text-2);
		font-feature-settings: var(--heading-3-features);
	}

	h1,
	h2,
	h3,
	h4 {
		--link-decoration: none;
	}

	/* Prose */
	.prose :is(p, figcaption, hr, h1, h2, h3, h4) {
		inline-size: min(100%, var(--measure-m));
		margin-inline: auto;
	}

	.prose :is(ol, ul) {
		--_padding: 4.5ch;
		inline-size: min(
			calc(100% - var(--_padding)),
			calc(var(--measure-m) - var(--_padding))
		);
		margin-inline: auto;
		padding-inline-start: var(--_padding);
	}

	.prose :is(h2, h3, h4, p + p) {
		margin-block-start: 1em;
	}

	.prose :is(h2, h3) {
		margin-block-end: 0.5em;
	}

	.prose h4 {
		margin-block-end: 0.25em;
	}

	.prose li + li {
		margin-block-start: 0.5em;
	}

	.prose :is(aside, blockquote, figure, hr, ol, ul) {
		margin-block: 2em;
	}

	.prose aside {
		--_padding: var(--space-l);
		border-block: 1px solid var(--color-gray-3);
		inline-size: min(calc(100% - 2 * var(--_padding)), var(--measure-s));
		margin-inline: auto;
		padding: var(--_padding);
	}

	.prose :is(aside, figcaption),
	.footnotes {
		font: var(--body-3);
	}

	.prose figure,
	.prose figure img {
		margin-inline: auto;
	}

	.prose figcaption {
		color: var(--text-2);
		grid-column: 1 / -1;
		margin-block-start: var(--space-s);
		text-align: center;
	}

	.prose blockquote {
		--_padding: var(--space-m);
		--_border: 0.25em;
		border: var(--_border) double var(--surface-3);
		inline-size: min(
			calc(100% - 2 * var(--_padding) - 2 * var(--_border)),
			var(--measure-m)
		);
		margin-inline: auto;
		padding: var(--_padding);
	}

	.prose pre {
		--_padding: var(--space-m);
		background-color: var(--surface-2);
		border-radius: 0.25rem;
		inline-size: min(calc(100% - 2 * var(--_padding)), 88ch);
		margin-inline: auto !important; /* FIXME: Fighting with Prism themes */
		overflow-x: auto;
		padding: var(--_padding);
	}

	pre code {
		padding: 0;
	}

	code {
		font-family: var(--font-mono);
		border-radius: 0.125em;
		padding: 0.125em;
	}

	sup {
		/* FIXME: Epilogue has a nice superscript feature that I'd like to turn on,
		* but I need to figure out which browser styles to disable to make it work.
		* For now I'll just set the line-height to 1 to fix the vertical rhythm in
		* paragraphs
		*/
		/* font-feature-settings: "sups" on; */
		line-height: 1;
	}

	/* FIXME: This seems like it's either part of the utilities, or an exception. */
	[class*="aspect-"] > iframe {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	button {
		--background: var(--surface-2);
		--border: var(--text-3);
		--color: var(--text-1);
		--active-background: var(--text-1);
		--active-color: var(--surface-2);
		--focus-background: var(--surface-2);
		--focus-color: var(--text-1);
		--focus-outline: var(--text-1);

		border: 1px solid var(--border);
		border-radius: 0.25rem;
		padding-block-start: var(--font-size--1);
		padding-block-end: calc(var(--font-size--1) * 0.666);
		padding-inline: var(--font-size-0);
		line-height: 1;
		color: var(--color);
		font-weight: var(--font-weight-bold);
		background-color: var(--background);
	}

	button:active,
	button[aria-pressed] {
		--focus-background: var(--active-background);
		--focus-color: var(--active-color);

		background: var(--active-background);
		color: var(--active-color);
	}

	button:focus:not(:focus-visible) {
		outline: none;
	}

	button:focus-visible {
		background: var(--focus-background);
		color: var(--focus-color);
		outline: 0.125rem solid var(--focus-outline);
		outline-offset: 0;
	}

	input {
		--background: var(--surface-1);
		--border: var(--text-2);
		--color: var(--text-1);
		--focus-background: var(--surface-1);
		--focus-color: var(--text-1);
		--focus-outline: var(--text-1);

		border: 1px solid var(--border);
		border-radius: 0.25rem;
		padding-block: var(--font-size--1);
		padding-inline: var(--font-size-0);
		line-height: 1;
		color: var(--color);
		background-color: var(--background);
	}

	input:focus:not(:focus-visible) {
		outline: none;
	}

	input:focus-visible {
		background: var(--focus-background);
		color: var(--focus-color);
		outline: 0.125rem solid var(--focus-outline);
		outline-offset: 0;
	}

	a {
		text-decoration: var(--link-decoration, underline);
		text-underline-offset: 0.125em;
		color: var(--link-color, inherit);
		transition: color 150ms linear;
	}

	a:hover {
		color: var(--link-hover-color);
	}

	a:visited:not(:hover) {
		color: var(--link-visited-color);
	}
}

@layer layout {
	.flow > * + * {
		margin-block-start: var(--space, 1em);
	}

	.cluster {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space);
		align-items: center;
	}

	.cluster * {
		margin: 0;
	}

	/* Used for the big display headers on pages */
	.cover {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		min-block-size: 55vmin;
		padding: var(--space-l) var(--site-margin);
	}

	.center {
		inline-size: min(100%, var(--measure-m));
		margin-inline: auto;
	}

	.grid {
		display: grid;
		gap: var(--space, var(--space-s));
		grid-template-columns: repeat(
			auto-fit,
			minmax(min(var(--space-card), 100%), 1fr)
		);
	}
}

@layer utility {
	.display-1 {
		font: var(--display-1);
		word-break: break-word;
	}

	.heading-1 {
		font: var(--heading-1);
		font-feature-settings: var(--heading-1-features);
	}

	.heading-2 {
		font: var(--heading-2);
		font-feature-settings: var(--heading-2-features);
	}

	.heading-3 {
		font: var(--heading-3);
		font-feature-settings: var(--heading-3-features);
	}

	.heading-4 {
		font: var(--heading-4);
		font-feature-settings: var(--heading-4-features);
	}

	.body-1 {
		font: var(--body-1);
	}
	.body-2 {
		font: var(--body-2);
	}
	.body-3 {
		font: var(--body-3);
	}

	.max-inline-site {
		inline-size: min(100%, var(--space-max-site));
	}

	.max-inline-content {
		max-inline-size: max-content;
	}

	.mbs-0 {
		margin-block-start: 0;
	}
	.mbs-l {
		margin-block-start: var(--space-l);
	}

	.mbs-xl {
		margin-block-start: var(--space-xl);
	}

	.mi-auto {
		margin-inline: auto;
	}
	.mie-auto {
		margin-inline-end: auto;
	}

	.pb-m {
		padding-block: var(--space-m);
	}
	.pb-l {
		padding-block: var(--space-l);
	}

	.p-0 {
		padding: 0;
	}
	.p-2xs {
		padding: var(--space-2xs);
	}
	.p-xs {
		padding: var(--space-xs);
	}
	.p-s {
		padding: var(--space-s);
	}

	.text-center {
		text-align: center;
	}

	.text-upper {
		text-transform: uppercase;
	}

	.aspect-square {
		aspect-ratio: 1 / 1;
	}

	.bb-surface-2 {
		border-bottom: 1px solid var(--surface-2);
	}

	.bb-surface-3 {
		border-bottom: 1px solid var(--surface-3);
	}

	.justify-content-center {
		justify-content: center;
	}

	.justify-stretch {
		justify-self: stretch;
	}

	.align-items-start {
		align-items: start;
	}

	.shape-circle {
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		overflow: clip;
	}

	.flex-grow {
		flex-grow: 1;
	}
	.flex-hulk {
		flex-grow: 99;
	}
}

@layer preference {
	[data-theme="light"] {
		--surface-1: var(--color-gray-1);
		--surface-2: var(--color-gray-2);
		--surface-3: var(--color-gray-3);
		--text-1: var(--color-gray-6);
		--text-2: var(--color-gray-5);
		--text-3: var(--color-gray-4);
		--primary-1: var(--color-magenta-1);
		--secondary-1: var(--color-yellow-1);
	}

	[data-theme="dark"] {
		--surface-1: var(--color-gray-6);
		--surface-2: var(--color-gray-5);
		--surface-3: var(--color-gray-4);
		--text-1: var(--color-gray-1);
		--text-2: var(--color-gray-2);
		--text-3: var(--color-gray-3);
		--primary-1: var(--color-yellow-1);
		--secondary-1: var(--color-magenta-1);
	}
}
