<header role="banner" class="h-card p-author pb-l"
  data-layout="center" data-center-width="site">
  <a href="#Skip">Skip to content</a>
  <div class="container">
    <a href="/" class="shape-circle u-url p-name" aria-label="Home">
      <img src="/img/evan-64.jpg" alt="" class="u-photo" width="64" height="64" />
    </a>
		<section class="theme-section flow" style="--space:0.25em">
			<h2 class="heading-4 text-upper mbs-0">Theme</h2>
			{% renderTemplate "webc" %}
				<theme-toggle></theme-toggle>
			{% endrenderTemplate %}
		</section>
  </div>
</header>
