<header role="banner" class="h-card p-author pad-block-relative-lg"
  data-layout="center" data-center-width="site">
  <a href="#Skip">Skip to content</a>
  <div class="align-self-stretch" data-layout="cluster" style="--space:var(--space-s)">
    <a href="/" class="shape-circle u-url p-name margin-inline-end-auto" aria-label="Home">
      <img src="/img/evan-64.jpg" alt="" class="u-photo" width="64" height="64" />
    </a>
    {% include "site/nav.njk" %}
  </div>
</header>
