<header data-layout="cover">
  <h1 id="Skip" tabindex="-1" class="display-1 text-center p-name">{{ title }}</h1>
  {% if tags -%}
    <ul aria-label="topics" class="type-body-3" data-layout="cluster"
      style="--space:var(--space-m)" data-cluster="center">
      {% for t in tags -%}
        <li><a href="/tags/{{ t }}/">{{ t }}</a></li>
      {%- endfor %}
    </ul>
  {%- endif %}
</header>
