{% set skipList = ['all', 'portfolio', 'posts', 'recent', 'sketches'] %}
<ul aria-label="topics"
		aria-role="list"
    class="type-body-3"
    data-layout="columns"
    style="--space:var(--space-m)">
  {% for tag, pages in collections | dictsort %}
    {% if tag not in skipList %}
      <li class="flex-nowrap" data-layout="cluster" style="--space:var(--space-s)">
        <a href="/tags/{{ tag }}/" class="margin-inline-end-auto">{{ tag }}</a>
        <span>{{ pages.length }}</span>
      </li>
    {% endif %}
  {% endfor %}
</ul>

