---
title: Portfolio
eleventyExcludeFromCollections: true
layout: base.njk
---

{% import "components.njk" as components %}

<div class="stack mbs-l" style="--space:var(--space-xl)">
  {% for project in collections.portfolio %}
    {% call components.projectSummary(project.data) %}
      {{ project.templateContent | safe }}
    {% endcall %}
  {% endfor %}
</div>
