---
title: Portfolio
eleventyExcludeFromCollections: true
layout: layouts/page.njk
---
{% import "components.njk" as components %}
<div class="stack" data-space="fluid-lg">
  {% for project in collections.work | rejectattr("draft") %}
    {% call components.projectSummary(project.data) %}
      {{ project.templateContent | safe }}
    {% endcall %}
  {% endfor %}
</div>
