{% set bg %}{% triskaidecagon 130 %}{% endset %}

<header role="banner">
  <a href="/" class="name-mark" style="background-image:url('data:image/svg+xml;utf8,{{ bg
  }}')">
    <div class="first">Evan</div>
    <div class="last">Sheehan</div>
  </a>

  {% include "partials/components/nav.njk" %}
</header>
