<footer id="site-footer" role="contentinfo" class="flow">
  <div class="cluster">
    <div>
      <hr />
      <p class="copyright">&copy; {{ site.copyright }}</p>
    </div>
  </div>

  <div>
    <nav class="cluster">
      <ul>
        {% for link in social %}
          {% set relAttr = "" %}
          {% if link.rel %}
            {% set relAttr = " rel='" + link.rel + "'" %}
          {% endif %}
          <li>
            <a href="{{ link.url }}"{{ relAttr | safe }}>{{ link.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>

  <p>
    Colophon: <a href="http://www.velvetyne.fr/fonts/sporting-grotesque/">Sporting
      Grotesque</a> &amp; <a href="https://brailleinstitute.org/freefont">Atkinson
      Hyperlegible</a>. Built with <a href="https://11ty.dev">Eleventy</a>.
  </p>
</footer>
