{% set bg %}{% triskaidecagon 130 %}{% endset %}

<header role="banner" class="center">
  <a href="/" class="name-mark" style="background-image:url('data:image/svg+xml;utf8,{{ bg
  }}')">
    <div class="first">Evan</div>
    <div class="last">Sheehan</div>
  </a>

  {% if page.url != "/" %}
    {% include "partials/components/nav.njk" %}
  {% endif %}
</header>
