@font-face {
  font-family: 'Sporting Grotesque';
  font-weight: bold;
  src:
    url(/fonts/sporting-grotesque-bold.woff2) format('woff2'),
    url(/fonts/sporting-grotesque-bold.woff) format('woff'),
    url(/fonts/sporting-grotesque-bold.otf) format('opentype');
}

@font-face {
  font-family: 'League Mono';
  font-style: normal;
  font-weight: normal;
  src:
    url(/fonts/league-mono-light.woff2) format('woff2'),
    url(/fonts/league-mono-light.woff) format('woff'),
    url(/fonts/league-mono-light.otf) format('opentype');
}

:root {
{% for group, group_tokens in tokens %}
  {% for token, value in group_tokens %}
    --{{ group | safe }}-{{ token | safe }}: {{ value | safe }};
  {% endfor %}
{% endfor %}
  --overlap: 3rem;
}

html {
  background-color: {{ tokens.color.light | safe }};
  color: {{ tokens.color.ink | safe }};
}

/* Begin reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin-bottom: 0;
}

body,
dl,
dd,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol[class],
ul[class] {
  margin: 0;
}

body {
  font: {{ tokens["text-size"]["1"] | safe }}/{{ tokens["line-height"]["3"] | safe }} {{ tokens.font.body | safe }};
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
}

a:not([class]) {
  color: {{ tokens.color.primary | safe }};
  text-decoration-skip: auto;
}

a:not([class]):visited {
  color: {{ tokens.color.primary-shade | safe }};
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}

/* End reset */

h1,
.name-mark,
.catalog-card > .title {
  font-family: {{ tokens.font.heading | safe }};
  line-height: {{ tokens["line-height"]["0"] | safe }};
}

h1 {
  font-size: {{ tokens["text-size"]["5"] | safe }};
  margin-bottom: {{ tokens.spacing["4"] | safe }};
  margin-top: {{ tokens.spacing["4"] | safe }};
}

hr {
  border-color: var(--fg);
  border-width: 1px 0 0 0;
}

p {
  max-width: {{ tokens.type.measure | safe }};
}

[role="banner"] {
  grid-column: full;
  margin-top: 1rem;
}

code,
figcaption {
  font-family: 'League Mono', monospace;

  /* Shrink the monospace text a little so that it fits better with the
   * surrounding text set in Work Sans.
   */
  font-size: 0.9rem;
}

blockquote {
  margin: 3rem;
}

.name-mark {
  display: block;
  font-size: 1.732em;
  line-height: 1;
  max-width: 7em;
  text-decoration: none;
  text-transform: lowercase;
}

.name-mark > .first,
.name-mark > .last {
  margin: 0;
  overflow: hidden;
}

.name-mark > .last {
  transform: scale(-1);
}

.profile-photo {
  display: inline-block;
  isolation: isolate;
  position: relative;
}

.profile-photo::after {
  background-color: cadetblue;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.profile-photo > img {
  mix-blend-mode: screen;
}

@supports (display: grid) {
  .grid-container {
    display: grid;
    grid-template-columns:
      [full-start] 0.5rem 1fr
      [heading-start subhead-start] minmax(auto, calc(var(--type-measure) * 0.577))
      [subhead-end content-start] var(--overlap)
      minmax(auto, calc(var(--type-measure) - var(--overlap)))
      [content-end heading-end] 3fr 0.5rem
      [full-end];
    margin-left: 0;
    margin-right: 0;
  }

  .about > .profile-photo {
    float: none;
    grid-column: full;
    grid-row: full;
    justify-self: start;
    margin: 0;
  }

  .about > p:first-of-type {
    grid-column: content;
    grid-row: content;
  }

  .grid-container > * {
    grid-column: content;
  }

  .grid-container > h1 {
    grid-column: heading;
  }

  .grid-container > h2 {
    grid-column: subhead;
  }

  .grid-container > hr {
    grid-column: subhead-start / span 2;
  }

  .grid-container > footer {
    grid-column: full;
  }

  .grid-container > .about {
    grid-column: full;
  }

  .name-mark {
    display: grid;
    grid-template-columns: 0.5em 0.577fr 1fr 1.732fr 0.5em;
    grid-template-rows: 0.65em 1px 0.65em;
    max-width: 8em;
  }

  .name-mark::after {
    background-color: var(--color-ink);
    content: "";
    display: block;
    grid-column: 1 / -1;
    grid-row: 2;
    z-index: 2;
  }

  .name-mark > .first {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
  }

  .name-mark > .last {
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
  }
}

@supports (clip-path: polygon(0 0)) and (display: grid) {
  .name-mark::before {
    align-self: center;
    background-color: var(--color-accent);
    content: "";
    clip-path:
      polygon(
        50% 100%,
        73.236% 94.273%,
        91.149% 78.403%,
        99.635% 56.027%,
        96.751% 32.27%,
        83.156% 12.574%,
        61.966% 1.453%,
        38.034% 1.453%,
        16.844% 12.574%,
        3.249% 32.27%,
        0.365% 56.027%,
        8.851% 78.403%,
        26.764% 94.273%,
        50% 100%
      );
    grid-column: 3 / span 2;
    grid-row: 1 / -1;
    height: 3em;
    width: 3em;
    z-index: -1;
  }
}

@media screen and (min-width: 35em) {
  /**
   * Site header
   */
  [role="banner"] {
    display: grid;
    grid-template-columns:
      [full-start] 0.5rem 1fr
      [title-start] minmax(auto, calc(var(--type-measure) * 0.577))
      [title-end] var(--overlap)
      [nav-start] minmax(auto, calc(var(--type-measure) - var(--overlap)))
      3fr 0.5rem
      [nav-end full-end];
    grid-template-rows: repeat(3, 1fr);
  }

  [role="banner"] > .name-mark {
    align-self: center;
    grid-column: title;
    grid-row: 1 / span 2;
  }
}

// vim: filetype=css
