<article class="post-block h-entry">
	<h2 class="title">
		<a href="{{ post.url }}" class="p-name">{{ post.data.title }}</a><span
													class="arrow" aria-hidden="true">&Rarr;</span>
	</h2>
	{% time post.date %}
</article>

{% css %}
	.post-block {
		display: flex;
		flex-direction: column;
	}

	.post-block > .title {
		font: var(--heading-2);
		font-feature-settings: var(--heading-2-features);
		margin: 0;
	}

	.post-block > .title > .arrow {
		position: relative;
		left: 0;
		display: inline;

		color: var(--link-hover-color);
		opacity: 0;

		transition-property: left, opacity;
		transition-duration: 300ms;
		transition-timing-function: ease;
	}

	.post-block > .title:is(:hover, :focus-within) > .arrow {
		opacity: 1;
		left: 0.5ch;
	}

	.post-block > time {
		order: -1;
		line-height: 1;
	}

	.post-block > time::before {
		display: inline-block;
		content: "";

		height: 2px;
		width: 1.5ch;
		margin-inline-end: 1ch;
		margin-block-end: 0.325em;

		background-color: var(--color-gray-3);
	}
{% endcss %}
