{% macro summary(post) %}
  <article>
    <h2>
      <a href="{{ post.url }}">
        {{ post.data.title }}
      </a>
    </h2>
    <p>
      {% formatDate post.data.date, "font-heading color-slate" %}
    </p>
    <p>{{ post.data.description }}</p>
  </article>
{% endmacro %}

{% macro list(collection) %}
  {% for post in collection %}
    {{ summary(post) }}
  {% endfor %}
{% endmacro %}
