{% macro list(collection) %}
<ul class="stack list-reset" role="list">
  {% for post in collection %}
    <li class="stack" data-space="fluid-sm">
      <strong>
        <a href="{{ post.url }}" class="type-display-2">{{ post.data.title }}</a>
      </strong>
      <br class="unstyled">
      <span data-space="relative-sm">{{ post.data.description }}</span>
      <br class="unstyled">
      <small data-space="relative-md">Published: {% formatDate post.data.date %}</small>
    </li>
  {% endfor %}
</ul>
{% endmacro %}
