@mixin css {
	.post-block {
		display: flex;
		flex-direction: column;

		> .title {
			margin: 0;
		}

		> time {
			order: -1;
			line-height: 1;

			&::before {
				display: inline-block;
				content: "";

				height: 2px;
				width: 1.5ch;
				margin-inline-end: 1ch;
				margin-block-end: 0.325em;

				background-color: var(--color-gray-3);
			}
		}
	}
}
