---
layout: base.njk
---

<main class="h-entry">
  {% include "page/header.njk" %}
  {% include "components/theme-toggle.njk" %}
  <div class="e-content" data-layout="center">
    {% if date -%}
      <aside aria-label="publication date" style="align-self: start">
        <p>
          {% formatDate date %}
        </p>
      </aside>
    {%- endif %}
    {{ content | safe }}
  </div>

	{% include "page/webmentions.njk" %}
</main>
