{% import "components.njk" as components %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="generator" content="eleventy">

  {% include "partials/meta-info.njk" %}

  {% block head %}
		<link rel="preload" href="/fonts/SportingGrotesque-Bold-latin.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/Epilogue[slnt,wght]-latin.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/css/style.css" as="style">
    <link rel="stylesheet" media="print" href="/css/print.css">
    <script src="/js/theme.js"></script>
  {% endblock %}
</head>

<body>
  {% include "partials/site-header.njk" %}

  {% set mainClasses = "" %}
  {% if classes %}
    {% set mainClasses = ' class="' + classes + '"' %}
  {% endif %}
  <main {{ mainClasses | safe }}>
		{% include "partials/page-title.njk" %}
		{% include "partials/theme-toggle.njk" %}
    {% block content %}
			<div class="stack" data-layout="center">
				{{ content | safe }}
			</div>
    {% endblock content %}
  </main>

  {% include "partials/site-footer.njk" %}
</body>
</html>
