html {
	background-color: transparent;
	font-size: 8pt;
}

h1 {
	// Some additional padding for Sporting Grotesque to keep it from getting
	// clipped.
	padding-top: 0.125em;
}
p {
	max-width: unset;
}

a[href] {
	text-decoration: none;
}

.center {
	max-width: unset;
}

.resume {
	grid-template-columns: fit-content(30%) 1fr;

	> header + * {
		margin-top: var(--space-l);
	}
}
