---
classes: h-entry
---

{% extends 'layouts/base.njk' %}

{% block head %}
  <link rel="preload" href="/fonts/SportingGrotesque-Bold-latin.woff2" as="font" type="font/woff2" crossorigin>
  {{ super() }}
{% endblock %}

{% block content %}
  {% include "partials/page-title.njk" %}
  {% include "partials/theme-toggle.njk" %}
  <div class="stack e-content" data-layout="center">
    {% if date -%}
      <aside aria-label="publication date" class="align-self-start">
        <p>
          {% formatDate date %}
        </p>
      </aside>
    {%- endif %}
    {{ super() }}
  </div>

  {% if webmentions !== false %}
    {% include "partials/webmentions.njk" %}
  {% endif %}
{% endblock %}
