---
classes: h-entry
---

{% extends 'layouts/base.njk' %}

{% block content %}
  <main class="flow h-entry" data-layout="center">
    <header class="flow">
      <h1 id="Skip" tabindex="-1" class="p-name">{{ title }}</h1>
      <p><time class="dt-published" date="{{ date }}">{{ date }}</time></p>
    </header>

    <div class="flow e-content">
      {{ content | safe }}
    </div>
  </main>

  {% include "partials/webmentions.njk" %}
{% endblock %}
