<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% include "partials/global/meta-info.njk" %}

  <link rel="stylesheet" href="{{ collections._styles | assetUrl('style.css') | url }}">
  <script async src="/js/shadow.js"></script>

  {% block head %}{% endblock %}
</head>

<body>
  {% include "partials/global/site-header.njk" %}

  {% set mainClasses = "" %}
  {% if classes %}
    {% set mainClasses = ' class="' + classes + '"' %}
  {% endif %}
  <main tabindex="-1"{{ mainClasses | safe }}>
    {% block content %}
      {% if title %}
        <h1>{{ title | safe }}</h1>
      {% endif %}

      {{ content | safe }}
    {% endblock content %}
  </main>

  {% include "partials/global/site-footer.njk" %}
</body>
</html>
