<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% include "partials/meta-info.njk" %}

  <link rel="stylesheet" href="{{ collections._styles | assetUrl('style.css') | url }}">
  <script async src="/js/shadow.js"></script>

  {% block head %}{% endblock %}
</head>

<body>
  {% include "partials/site-header.njk" %}
  {% block content %}{% endblock content %}
  {% include "partials/site-footer.njk" %}
</body>
</html>
