{% extends 'layouts/base.njk' %}

{% block content %}
<main>
  <ul class="list-reset" data-layout="grid" role="list">
    {% set items = collections[tag] %}
    {% if limit %}{% set items = items.slice(0, limit) %}{% endif %}
    {% for item in items %}
      <li class="card" data-layout="stack">
        <div class="card--body flow">
          <div>
            {% if item.data.date %}
              <small>{% formatDate item.data.date %}</small><br>
            {% endif %}
            <strong>
              <a href="{{ item.url }}">{{ item.data.title }}</a>
            </strong>
          </div>
          {% if item.data.description %}
            <div>{{ item.data.description }}</div>
          {% endif %}
        </div>
        {% if item.data.cover %}
          <img src="{{ item.data.cover }}" alt="">
        {% endif %}
    {% endfor %}
  </ul>
</main>
{% endblock %}
