{% extends 'layouts/base.njk' %}

{% block content %}
<main>
  <ul class="list-reset" data-layout="grid" role="list">
    {% set items = collections[tag] %}
    {% if limit %}{% set items = items.slice(0, limit) %}{% endif %}
    {% for item in items %}
      <li data-layout="stack">
        <div>
          {% if item.data.date %}
            <small>{% formatDate item.data.date %}</small>
          {% endif %}
          <strong>
            <a href="{{ item.url }}">{{ item.data.title }}</a>
          </strong>
          {% if item.data.description %}
            <p>{{ item.data.description }}</p>
          {% endif %}
        </div>
        {% if item.data.cover %}
          <img src="{{ item.data.cover }}" alt="">
        {% endif %}
    {% endfor %}
  </ul>
</main>
{% endblock %}
