{% extends 'layouts/base.njk' %}

{% from "partials/macros/datetime.njk" import pubDate %}

{% block content %}
<article>
  <h1>{{ title | safe }}</h1>

  {% if date %}
    <aside role="note">
      {{ pubDate(date) }}
    </aside>
  {% endif %}

  {{ content | safe }}

  {% block footer %}
    {% if footerContent %}
      <footer>
        {{ footerContent | safe }}
      </footer>
    {% endif %}
  {% endblock %}
</article>

{% endblock %}
