{% extends 'layouts/post.njk' %}

{% block footer %}
  <footer>
    <p><a href="/work/"><b>Back to projects&hellip;</b></a></p>
    {% if next %}
      <p>Next project: <a href="{{ next.page.url }}">{{ next.title | safe }}</a></p>
    {% endif %}
    {% if prev %}
      <p>Previous project: <a href="{{ prev.page.url }}">{{ prev.title | safe }}</a></p>
    {% endif %}
  </footer>
{% endblock %}
