{% extends "layouts/page.njk" %}
{% block content %}
  {{ super() }}
  <div class="flow" data-space="fluid-lg" data-layout="center" data-center-width="site">
    {% if not tag %}{% set tag = 'posts' %}{% endif %}
    {% if tag == 'posts' %}
      {% include 'partials/tag-index.njk' %}
      <hr>
    {% endif %}
    {{ components.postList(collections[tag]) }}
  </div>
{% endblock %}
