@use "../tokens" as tokens;

@mixin font-family($name) {
  font-family: #{tokens.font-family($name)};
}

@mixin font-size($step: 0) {
  $s: tokens.font-size($step);
  font-size: $s;
  font-size: var(--step-#{$step}, $s);
}

