$color-gray-1: "#ffffff";
$color-gray-2: "#eaeaea";
$color-gray-3: "#959595";
$color-gray-4: "#6d6d6d";
$color-gray-5: "#303030";
$color-gray-6: "#222222";
$color-magenta-1: "#A3224D";
$color-yellow-1: "#ddad3f";
