---
title: Résumé
layout: layouts/base.njk
education:
  - school: Carnegie Mellon University
    degree: Master of Human-Computer Interaction
    graduated: 2012
  - school: University of Colorado at Boulder
    degree: B.S. Computer Science
    graduated: 2006
experience:
  - title: Web Developer
    employer: Cooperative Institute for Research in the Atmosphere (CIRA)
    dates: ["2018", "Present"]
    description: |-
      At CIRA I'm responsible for designing and building the [Science On a Sphere
      website](https://sos.noaa.gov/). I often help manage our servers and
      backend services as well. In addition to my work on the SOS website, I put
      together beginner and intermediate courses on using Git.
    skills: ["HTML", "CSS", "JavaScript", "Python", "MySQL"]
  - title: Data Visualization Designer
    employer: Spotify
    dates: ["2015", "2018"]
    description: |-
      I designed data visualizations and tools that were used to inform product
      design and business decisions.
    skills: ["Sketch", "Google BigQuery", "Tableau", "D3", "Python", "Jupyter"]
  - title: Creative Technologist
    employer: Seed Scientific
    dates: ["2014", "2015"]
    description: |-
      My main project at Seed was designing and building the frontend for a data
      management and reporting tool for UNICEF's Global Polio Eradication
      Initiative. The reporting aspect of the project was a web-based,
      interactive dashboard that could be printed on a single sheet of letter
      paper for distribution to the initiative's stakeholders before meetings.
    skills: ["D3", "Vue", "React", "Adobe Illustrator"]
  - title: IT Coordinator
    employer: Museum of Math
    dates: ["2014"]
    description: |-
      I was responsible for maintaining the [MoMath
      website](https://momath.org/), office computer systems, and many of the
      exhibits in the museum. During events at the museum, I also handled the
      audio-visual setup for speakers.
  - title: User Experience Designer
    employer: Schrödinger
    dates: ["2013", "2014"]
    description: |-
      I interviewed scientists to build an understanding of users's needs from
      Schrödinger's chemistry modeling software and designed user interfaces for
      the various products that Schrödinger produced.
    skills: ["User Research", "Adobe Illustrator", "Adobe InDesign"]
  - title: Senior Developer
    employer: Zia Consulting
    dates: ["2007", "2011"]
    description: |-
      I implemented business logic in enterprise content management systems for
      our clients, built the frontend for a video conferencing tool for divorced
      parents and their children, and developed a lead generation tool for
      Agilent Technologies.
    skills: ["Java", "HTML", "CSS", "Adobe Flex"]
  - title: Professional Research Assistant
    employer: University of Colorado at Boulder
    dates: ["2006", "2007"]
    description: |-
      I designed and built a web application that implemented a new model for
      determining the ages of geologic samples that was developed by researchers
      at the University of Arizona.
    skills: ["Python", "HTML", "CSS", "JavaScript", "SQLite", "Django", "YUI"]
---

<div class="[ flow center ]">
  <p>Desginer + Web Developer + Creative Technologist.</p>

  <h2>Education</h2>

  {% for diploma in education %}
    <p>
      <b>{{ diploma.degree }}</b>
      <br />
      {{ diploma.school }} {{ diploma.graduated }}
    </p>
  {% endfor %}

  <h2>Experience</h2>
  {% for job in experience %}
    <article>
      <header>
        <h3>{{ job.title }}</h3>
        <p>{{ job.employer }}, {{ job.dates | join(" – ") }}</p>
      </header>
      {% markdown %}{{ job.description }}{% endmarkdown %}
      <footer>
        <h4>Skills</h4>
        <ul class="horizontal-list" role="list">
          {% for skill in job.skills %}
          <li>{{ skill }}</li>
          {% endfor %}
        </ul>
      </footer>
    </article>
  {% endfor %}
</div>
