@use "../theme";
@use "../tokens";
@use "../mixins/typography" as *;

html {
  --overlap: 3rem;

  background-color: tokens.color("light");
  color: tokens.color("ink");
  font-size: 100%;
}

body {
  @include font-size(0);
  @include font-family("body");

  line-height: tokens.line-height(3);
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
}

nav ul {
  list-style: none;
  margin: 0;
}

h1,
.name-mark {
  font-family: #{tokens.font-family("heading")};
  line-height: tokens.line-height(1);
}

main > header,
h1 {
  @include font-size(6);

  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

header > p {
  @include font-size(0);
  margin-top: 0;
}

header > h1 {
  margin: 0;
}

h2 {
  @include font-size(1);

  position: relative;
}

h3 {
  @include font-size(0);
}

hr {
  border-color: tokens.color("mid");
  border-width: 1px 0 0 0;
  width: 33%;
}

p,
dl,
ul:not([class]),
ol:not([class]) {
  max-width: theme.$prose-measure;
}

figcaption {
  font-style: italic;
  text-align: center;
}

ol,
ul {
  margin-bottom: 1em;
  margin-top: 1em;
  padding-left: 0;
}

li {
  line-height: tokens.line-height(2);

  &::marker {
    color: tokens.color("slate");
  }

  & + li {
    margin-top: 0.4em;
  }
}

dd {
  --flow-sp: 0.5em;
  @include font-size(-1);
}

code {
  @include font-family("mono");
}

p, li, dt, dd {
  code {
    font-size-adjust: 0.5;
  }
}

// Overriding styles from PrismJS
pre[class*="language-"] {
  @include font-family("mono");

  line-height: #{tokens.line-height(1)} !important;
  margin: 1em -#{theme.$site-margin} !important;
  padding-left: #{theme.$site-margin} !important;
  padding-right: #{theme.$site-margin} !important;

  code[class*="language-"] {
    @include font-family("mono");
    @include font-size(-1);

    line-height: inherit;
  }
}

blockquote {
  margin: 3rem;
}

strong {
  font-family: #{tokens.font-family("heading")};
  font-size-adjust: 0.5;
}

a {
  color: tokens.color("ink");
  text-decoration-color: tokens.color("primary");
  text-decoration-skip: auto;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.125em;

  &:visited {
    text-decoration-color: tokens.color("slate");
  }

  &:hover {
    color: tokens.color("primary");
    text-decoration-color: tokens.color("primary");
  }
}

button,
input {
  padding-bottom: tokens.space(1);
  padding-top: tokens.space(1);
}

button {
  padding-left: tokens.space(2);
  padding-right: tokens.space(2);
  border-radius: 4px;

  color: white;
}

input {
  padding-left: tokens.space(1);
  padding-right: tokens.space(1);
  border-color: tokens.color("slate");

  &:focus {
    border-color: tokens.color("primary");
  }
}

[type="submit"] {
  $bg: tokens.color("primary");

  background-color: $bg;

  &:focus,
  &:hover {
    outline-style: solid;
    outline-color: transparent;

    box-shadow: 0 0 0 4px scale-color($bg, $lightness: -40%);
  }

  &:active {
    background-color: scale-color($bg, $lightness: -20%);
  }
}

ol.footnotes-list {
  list-style: reset;
}

@media screen {
  .print-only {
    display: none;
  }
}

@media print {
  .no-print {
    display: none;
  }
}

