@use "../mixins";
@use "../type";

@media (prefers-color-scheme: dark) {
  :root {
    @include mixins.dark-theme;
  }
}

[data-theme=light] {
  @include mixins.light-theme;
}

[data-theme=dark] {
  @include mixins.dark-theme;
}

body {
  @extend %body-1;

  background: var(--surface-1);
  color: var(--text-1);

  // Prevent scrollbars (especially on windows) when setting inline-size to
  // 100vw to achive full-bleed or other breakout effects in the layout.
  overflow-x: hidden;

  --site-margin: var(--space-fluid-sm);

  > header img {
    max-height: var(--icon-lg);
  }

  > header a[href='/'] {
    background-image: url('/img/evan-alt.jpg');
    background-size: cover;

    &:hover > * {
      opacity: 0;
    }
  }

  > header nav a {
    text-decoration: none;
    border-bottom: 0.125em solid transparent;

    &[aria-current] {
      border-color: var(--primary-1);
    }
  }
}

:focus {
  outline: var(--space-relative-xs) solid var(--text-1);
  outline-offset: var(--space-relative-xs);
}

footer svg {
  height: var(--icon-sm);
}

h1 {
  @extend %display-1;
  text-align: center;
}

h2 {
  @extend %heading-1;

  > a {
    text-decoration: none;
  }
}

h3 {
  @extend %heading-2;
}

hr {
  border: none;
  border-block-start: 1px solid var(--text-1);
}

aside, figcaption, small {
  @extend %body-3;
}

figure {
  --_size: min(100vw, var(--measure-lg));

  box-sizing: border-box;
  inline-size: var(--_size);
  margin-inline-start: calc((100% - var(--_size)) / 2);
}

figure,
figure + *,
hr,
hr + * {
  --space: var(--space-relative-lg);
}

figcaption {
  margin-block-start: var(--space-relative-sm);
  padding-inline: var(--site-margin);
  text-align: center;
  color: var(--text-2);
}

pre {
  padding: var(--space-relative-md);
  overflow-x: auto;

  &[class*="language-"] {
    border: 1px solid var(--surface-3);
    background-color: var(--surface-2);
  }

  code {
    padding: 0;
  }
}

code {
  @extend %body-2;
  border-radius: 0.125em;
  padding: 0.125em;
  background-color: var(--surface-2);
}

li + li {
  margin-block-start: var(--space-relative-sm);
}

a {
  --color: var(--text-1);
  --visited-color: var(--text-1);
  --hover-color: var(--primary-1);

  text-underline-offset: 0.125em;
  color: var(--color);
  transition: color 150ms linear;

  &:hover {
    color: var(--hover-color);
  }

  &:visited:not(:hover) {
    color: var(--visited-color);
  }
}

button {
  --background: var(--surface-2);
  --border: var(--text-3);
  --color: var(--text-1);
  --active-background: var(--text-1);
  --active-color: var(--surface-2);
  --focus-background: var(--surface-2);
  --focus-color: var(--text-1);
  --focus-outline: var(--text-1);

  border: 1px solid var(--border);
  border-radius: 0.25rem;
  padding: var(--space-relative-sm) var(--space-relative-md)
  calc(var(--space-relative-sm) * 0.666);
  line-height: 1;
  color: var(--color);
  font-weight: var(--font-weight-bold);
  background-color: var(--background);

  &:active,
  &[aria-pressed] {
    --focus-background: var(--active-background);
    --focus-color: var(--active-color);

    background: var(--active-background);
    color: var(--active-color);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    background: var(--focus-background);
    color: var(--focus-color);
    outline: var(--space-relative-xs) solid var(--focus-outline);
    outline-offset: 0;
  }
}

input {
  --background: var(--surface-1);
  --border: var(--text-2);
  --color: var(--text-1);
  --focus-background: var(--surface-1);
  --focus-color: var(--text-1);
  --focus-outline: var(--text-1);

  border: 1px solid var(--border);
  border-radius: 0.25rem;
  padding:
    var(--space-relative-sm)
    var(--space-relative-md)
    calc(var(--space-relative-sm) * 0.666);
  line-height: 1;
  color: var(--color);
  background-color: var(--background);

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    background: var(--focus-background);
    color: var(--focus-color);
    outline: 2px solid var(--focus-outline);
    outline-offset: 0;
  }
}

[class*=aspect-] > iframe {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footnotes {
  @extend %body-4;
}

[href="#Skip"] {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
  border-radius: 4px;
  padding: var(--space-fluid-xs) var(--space-fluid-sm);
  background-color: var(--surface-2);
  text-decoration: none;
  opacity: 0;
  transition-property: top, transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;

  &:focus {
    outline: var(--space-relative-xs) solid var(--primary-1);
    outline-offset: 0;
    transform: translate(-50%, 0);
    top: var(--space-fluid-md);
    opacity: 1;
  }
}
