@use "../mixins";
@use "../type";

@media (prefers-color-scheme: dark) {
  :root {
    @include mixins.dark-theme;
  }
}

[data-theme=light] {
  @include mixins.light-theme;
}

[data-theme=dark] {
  @include mixins.dark-theme;
}

body {
  @extend %body-1;

  background: var(--surface-1);
  color: var(--text-1);

  // Prevent scrollbars (especially on windows) when setting inline-size to
  // 100vw to achive full-bleed or other breakout effects in the layout.
  overflow-x: hidden;

  --link-color: var(--text-1);
  --link-visited-color: var(--text-2);

  --focus-color: var(--surface-3);

  --site-margin: var(--space-fluid-sm);

  > header {
    --link-visited-color: var(--link-color);
  }

  > header img {
    // FIXME: Should this be a design token? Set with a utility class instead?
    max-height: 3em;
  }

  > header a[href='/'] {
    background-image: url('/img/evan-alt.jpg');
    background-size: cover;

    &:hover > * {
      opacity: 0;
    }
  }
}

footer svg {
  // FIXME: Should this be a design token? Set with a utility class instead?
  height: 1.5em;
}

h1 {
  @extend %display-1;
  text-align: center;
}

h2 {
  @extend %heading-1;

  > a {
    text-decoration: none;
  }
}

h3 {
  @extend %heading-2;
}

hr {
  border: none;
  border-block-start: 1px solid var(--text-1);
}

aside, figcaption, small {
  @extend %body-3;
}

figure {
  --_size: min(100vw, var(--measure-lg));

  box-sizing: border-box;
  inline-size: var(--_size);
  margin-inline-start: calc((100% - var(--_size)) / 2);
}

figure,
figure + *,
hr,
hr + * {
  --space: var(--space-relative-lg);
}

figcaption {
  margin-block-start: var(--space-relative-sm);
  padding-inline: var(--site-margin);
  text-align: center;
  color: var(--text-2);
}

pre {
  padding: var(--space-relative-md);
  overflow-x: auto;

  &[class*="language-"] {
    border: 1px solid var(--surface-3);
    background-color: var(--surface-2);
  }
}

code {
  @extend %body-2;
  border-radius: 0.125em;
  padding: 0.125em;
  background-color: var(--surface-2);
}

li + li {
  margin-block-start: var(--space-relative-sm);
}

a:link {
  position: relative;
  text-underline-offset: 0.125em;
  color: var(--link-color);
}

a:link::before {
  content: "";
  border-radius: 4px;
  position: absolute;
  top: -0.5em;
  right: -0.25em;
  bottom: -0.25em;
  left: -0.25em;
  z-index: -1;
  background-color: var(--focus-color);
  opacity: 0;
  transition: opacity 150ms linear;
}

a:link:hover::before {
  opacity: 1;
}

a:visited {
  color: var(--link-visited-color);
}

.footnotes {
  @extend %body-4;
}
