@font-face {
  font-family: 'Anybody Condensed';
  font-style: normal;
  font-weight: bold;
  src:
    url(/fonts/Anybody-CondensedSemiBold.woff2) format('woff2'),
    url(/fonts/Anybody-CondensedSemiBold.woff) format('woff'),
    url(/fonts/Anybody-CondensedSemiBold.ttf) format('ttf');
}

@font-face {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: normal;
  src:
    url(/fonts/Epilogue-Light.woff2) format('woff2'),
    url(/fonts/Epilogue-Light.woff) format('woff'),
    url(/fonts/Epilogue-Light.ttf) format('ttf');
}

@font-face {
  font-family: 'Epilogue';
  font-style: italic;
  font-weight: normal;
  src:
    url(/fonts/Epilogue-LightItalic.woff2) format('woff2'),
    url(/fonts/Epilogue-LightItalic.woff) format('woff'),
    url(/fonts/Epilogue-LightItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: bold;
  src:
    url(/fonts/Epilogue-Bold.woff2) format('woff2'),
    url(/fonts/Epilogue-Bold.woff) format('woff'),
    url(/fonts/Epilogue-Bold.ttf) format('ttf');
}

@font-face {
  font-family: 'Epilogue';
  font-style: italic;
  font-weight: bold;
  src:
    url(/fonts/Epilogue-BoldItalic.woff2) format('woff2'),
    url(/fonts/Epilogue-BoldItalic.woff) format('woff'),
    url(/fonts/Epilogue-BoldItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'Epilogue Variable';
  font-weight: 100 900;
  font-style: normal;
  src:
    url('/fonts/Epilogue[wght].woff2') format('woff2 supports variations'),
    url('/fonts/Epilogue[wght].woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Epilogue Italic Variable';
  font-weight: 100 900;
  font-style: italic;
  src:
    url('/fonts/Epilogue-Italic[wght].woff2') format('woff2 supports variations'),
    url('/fonts/Epilogue-Italic[wght].woff2') format('woff2-variations');
}

@font-face {
  font-family: 'League Mono';
  font-style: normal;
  font-weight: normal;
  src:
    url(/fonts/league-mono-light.woff2) format('woff2'),
    url(/fonts/league-mono-light.woff) format('woff'),
    url(/fonts/league-mono-light.otf) format('opentype');
}

@font-face {
  font-family: 'Sporting Grotesque';
  font-weight: bold;
  src:
    url(/fonts/sporting-grotesque-bold.woff2) format('woff2'),
    url(/fonts/sporting-grotesque-bold.woff) format('woff'),
    url(/fonts/sporting-grotesque-bold.otf) format('opentype');
}
