@font-face {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: normal;
  src:
    url(/fonts/anybody-regular.woff2) format('woff2'),
    url(/fonts/anybody-regular.woff) format('woff'),
    url(/fonts/anybody-regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Anybody';
  font-style: italic;
  font-weight: normal;
  src:
    url(/fonts/anybody-italic.woff2) format('woff2'),
    url(/fonts/anybody-italic.woff) format('woff'),
    url(/fonts/anybody-italic.ttf) format('ttf');
}

@font-face {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: bold;
  src:
    url(/fonts/anybody-bold.woff2) format('woff2'),
    url(/fonts/anybody-bold.woff) format('woff'),
    url(/fonts/anybody-bold.ttf) format('ttf');
}

@font-face {
  font-family: 'Anybody';
  font-style: italic;
  font-weight: bold;
  src:
    url(/fonts/anybody-bolditalic.woff2) format('woff2'),
    url(/fonts/anybody-bolditalic.woff) format('woff'),
    url(/fonts/anybody-bolditalic.ttf) format('ttf');
}

@font-face {
  font-family: 'Anybody Condensed';
  font-style: normal;
  font-weight: bold;
  src:
    url(/fonts/anybody-condensedbold.woff2) format('woff2'),
    url(/fonts/anybody-condensedbold.woff) format('woff'),
    url(/fonts/anybody-condensedbold.ttf) format('ttf');
}

@font-face {
  font-family: 'Anybody Variable';
  font-stretch: 50 150;
  font-weight: 100 900;
  font-style: normal;
  src:
    url('/fonts/anybody[slnt,wdth,wght].woff2') format('woff2 supports variations'),
    url('/fonts/anybody[slnt,wdth,wght].woff2') format('woff2-variations');
}

@font-face {
  font-family: 'League Mono';
  font-style: normal;
  font-weight: normal;
  src:
    url(/fonts/league-mono-light.woff2) format('woff2'),
    url(/fonts/league-mono-light.woff) format('woff'),
    url(/fonts/league-mono-light.otf) format('opentype');
}

@font-face {
  font-family: 'Sporting Grotesque';
  font-weight: bold;
  src:
    url(/fonts/sporting-grotesque-bold.woff2) format('woff2'),
    url(/fonts/sporting-grotesque-bold.woff) format('woff'),
    url(/fonts/sporting-grotesque-bold.otf) format('opentype');
}
