* {
  margin: 0;
}

html, body {
  height: 100%;
}

canvas, iframe, img, svg, video {
  display: block;
  max-width: 100%;
}

button, input, select, textarea {
  font: inherit;
}

[hidden] {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}

@media screen and (-ms-high-contrast: active) {
  button {
    border: 2px solid currentcolor;
  }
}
