@use "./tokens" as tokens;
@use "../mixins/typography" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin-bottom: 0;
}

body,
dl,
dd,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ol[class],
ul[class] {
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  @include font-size(0);
  @include font-family("body");

  line-height: tokens.line-height(3);
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
}

ol[class],
ul[class] {
  list-style: none;
  padding: 0;
}

a:not([class]) {
  color: tokens.color("primary");
  text-decoration-skip: auto;
}

a:not([class]):visited {
  color: tokens.color("primary-shade");
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}
