*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin-bottom: 0;
}

* + * {
  margin-top: 1em;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

ol[class],
ul[class] {
  list-style: none;
  padding: 0;
}

iframe,
img {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}
