@use "sass:math";
@use "sass:map";
@use "sass:meta";

@use "../../_data/tokens.json" as tokens;

$-tokens: meta.module-variables(tokens);

@function get($group, $name: null) {
  $g: map.get($-tokens, $group);

  @if ($name) {
    @return map.get($g, $name);
  }

  @return $g;
}

@function color($name) {
  @return get("color", $name);
}

@function line-height($step) {
  @return get("line-height", $step);
}

@function space($name) {
  @return get("space", $name);
}

@function font-family($name) {
  @return get("font", $name);
}

@function font-size($step) {
  @if $step < get("type", "min-step") or $step > get("type", "max-step") {
    @error "Invalid token: text size #{$step}";
  }

  $base-size: get("type", "fluid-min-size") / get("type", "base") * 1rem;
  $scale: get("type", "fluid-min-ratio");

  @return $base-size * math.pow($scale, $step);
}

@function measure($step) {
  @return get("measure", $step);
}
