@use "../../_data/tokens.json" as tokens;
@use "../mixins/typography" as type;

.basegrid-content { grid-column: content; }
.basegrid-full    { grid-column: full; }
.basegrid-wide    { grid-column: wide; }

@each $tok, $val in tokens.$font {
  .font-#{$tok} {
    font-family: #{$val};
  }
}

.text-decoration-none {
  text-decoration: none;
}

$-min-text: map-get(tokens.$type, "min-step");
$-max-text: map-get(tokens.$type, "max-step");
@for $i from $-min-text through $-max-text {
  .text-#{$i} {
    @include type.font-size($i);
  }
}

@each $tok, $val in tokens.$color {
  .text-#{$tok} {
    color: $val;
  }
}
