// See https://utopia.fyi for more information

@use "sass:math";

@use "../tokens";

$base: tokens.get("type", "base");
$min-step: tokens.get("type", "min-step");
$max-step: tokens.get("type", "max-step");

$min-scale: tokens.get("type", "fluid-min-ratio");
$max-scale: tokens.get("type", "fluid-max-ratio");

$min-size: tokens.get("type", "fluid-min-size");
$max-size: tokens.get("type", "fluid-max-size");

html {
  --fluid-min-width: #{tokens.get("type", "fluid-min-width")};
  --fluid-max-width: #{tokens.get("type", "fluid-max-width")};
  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / #{$base} * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );

  @for $i from $min-step through $max-step {
    --f-#{$i}-min: #{$min-size * math.pow($min-scale, $i)};
    --f-#{$i}-max: #{$max-size * math.pow($max-scale, $i)};
    --step-#{$i}: calc(
      ((var(--f-#{$i}-min) / #{$base}) * 1rem) +
        (var(--f-#{$i}-max) - var(--f-#{$i}-min)) *
        var(--fluid-bp)
    );
  }
}

@media screen and (min-width: #{tokens.get("type", "fluid-max-width")}px) {
  html {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}
