---
title: Work
layout: layouts/base.njk
---

<div class="flow">

  <div class="card-stack flow">
    {% for project in collections.work %}
      <article class="card" style="--color-1:#{{ project.data.color }}">
        <h2 class="card__title">
          <a href="{{ project.url }}" class="card__link">{{ project.data.title }}</a>
        </h2>

        <aside class="card__meta">{{ project.data.client | default("Personal") }}</aside>
      </article>
    {% endfor %}
  </div>

</div>
