---
title: Work
layout: layouts/page.njk
---

<h1>{{ title | safe }}</h1>

{% for project in collections.work %}
  <article class="card">
    <h2 class="card__title">
      <a href="{{ project.url }}" class="card__link">{{ project.data.title }}</a>
    </h2>

    <p>{{ project.data.client | default("Personal") }}</p>
    <img src="{{ project.data.thumbnail }}" alt="" />
  </article>
{% endfor %}
