:root {
  --overlap: 3rem;
}

html {
  background-color: map-get($color, "light");
  color: map-get($color, "ink");
}

body {
  margin: 0 auto;
}

article > * + * {
  margin-top: 1em;
}

h1,
.name-mark,
.catalog-card > .title {
  font-family: map-get($font, "heading");
  line-height: map-get($line-height, 0);
}

h1 {
  font-size: map-get($text-size, 5);
  margin-bottom: map-get($space, 4);
  margin-top: map-get($space, 4);
}

hr {
  border-color: map-get($color, "ink");
  border-width: 1px 0 0 0;
}

p {
  max-width: map-get($type, "measure");
}

code,
figcaption {
  font-family: 'League Mono', monospace;

  /* Shrink the monospace text a little so that it fits better with the
   * surrounding text set in Work Sans.
   */
  font-size: 0.9rem;
}

blockquote {
  margin: 3rem;
}

@supports (display: grid) {
  body > :not(script) {
    display: grid;
    grid-template-columns:
      1fr
      [full-start] map-get($space, 2)
      [content-start] minmax(auto, map-get($type, "measure"))
      [content-end] map-get($space, 2) 1fr
      [full-end]
      1fr;
  }

  body > * > * {
    grid-column: content;
  }

  body > * > h1 {
    grid-column: content-start / full-end;
  }

  .name-mark {
    display: grid;
    grid-column: full;
    grid-template-columns: map-get($space, 2) 0.577fr 1fr 1.732fr map-get($space, 2);
    grid-template-rows: 0.65em 1px 0.65em;
    max-width: 8em;
  }

  .name-mark::after {
    background-color: var(--color-ink);
    content: "";
    display: block;
    grid-column: 1 / -1;
    grid-row: 2;
    z-index: 2;
  }

  .name-mark > .first {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
  }

  .name-mark > .last {
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
  }
}
