@mixin css {
	.stack {
		> * + * {
			margin-block-start: var(--space, var(--space-m));
		}
	}

	[data-layout="cluster"] {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space);
		align-items: center;

		&[data-cluster="center"] {
			justify-content: center;
		}

		// List reset, because lists are very common markup for cluster layouts
		padding: 0;
		list-style: none;

		> li {
			margin: 0;
		}
	}

	[data-layout="columns"] {
		columns: var(--measure-xs) auto;
		gap: var(--space, var(--space-m));
	}

	[data-layout="cover"] {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		min-block-size: 55vmin;
		padding: var(--space-l) var(--site-margin);
	}

	[data-layout="center"] {
		max-inline-size: var(--measure-m);
		margin-inline: auto;
		padding-inline: var(--site-margin);

		&[data-center-width="site"] {
			max-inline-size: var(--space-max-site);
		}
	}

	[data-layout="grid"] {
		display: grid;
		gap: var(--space);
		grid-template-columns: repeat(
			auto-fit,
			minmax(min(var(--space-card), 100%), 1fr)
		);
	}
}
