@mixin light-theme {
	--surface-1: var(--color-gray-1);
	--surface-2: var(--color-gray-2);
	--surface-3: var(--color-gray-3);
	--text-1: var(--color-gray-6);
	--text-2: var(--color-gray-5);
	--text-3: var(--color-gray-4);
	--primary-1: var(--color-magenta-1);
}

@mixin dark-theme {
	--surface-1: var(--color-gray-6);
	--surface-2: var(--color-gray-5);
	--surface-3: var(--color-gray-4);
	--text-1: var(--color-gray-1);
	--text-2: var(--color-gray-2);
	--text-3: var(--color-gray-3);
	--primary-1: var(--color-yellow-1);
}
