%body-1 {
  font-size: var(--font-size-sm);
  font-weight: var(--weight-regular, normal);
  line-height: var(--line-height-md);
  font-family: var(--theme-font-body);
  font-feature-settings: "ss01";
}

%body-2 {
  font-family: var(--theme-font-mono);
  font-variation-settings: "wdth" 80;
}

%body-3 {
  font-size: var(--font-size-xs);
  font-family: var(--theme-font-mono);
  line-height: var(--line-height-md);
}

%display-1 {
  font-size: var(--font-size-xl);
  font-family: var(--theme-font-heading);
  line-height: var(--line-height-xs);
}

%display-2 {
  font-size: var(--font-size-md);
  font-family: var(--theme-font-heading);
  line-height: var(--line-height-sm);
}

%heading-1 {
  font-size: var(--font-size-md);
  font-weight: var(--weight-black, bold);
  font-family: var(--theme-font-body);
  font-feature-settings: normal;
  line-height: var(--line-height-sm);
  text-transform: lowercase;
}

%heading-2 {
  font-size: var(--font-size-sm);
  font-weight: var(--weight-bold, bold);
  font-family: var(--theme-font-body);
  font-feature-settings: normal;
  line-height: var(--line-height-sm);
}

%heading-3 {
  font-size: var(--font-size-sm);
  font-weight: var(--weight-regular, normal);
  line-height: var(--line-height-md);
  font-family: var(--theme-font-body);
  font-feature-settings: "ss01";
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: var(--color-gray-1);
}

