@use "tokens/fonts";

@mixin css {
	.margin-block-start-fluid-lg {
		margin-block-start: var(--space-l);
	}
	.margin-block-start-fluid-xl {
		margin-block-start: var(--space-xl);
	}
	.margin-block-start-relative-md {
		margin-block-start: var(--space-m);
	}
	.margin-block-end-relative-sm {
		margin-block-end: var(--space-s);
	}
	.margin-block-end-relative-md {
		margin-block-end: var(--space-m);
	}
	.margin-inline-auto {
		margin-inline: auto;
	}
	.margin-inline-end-auto {
		margin-inline-end: auto;
	}

	.shape-circle {
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		overflow: hidden;
	}

	.pad-block-fluid-md {
		padding-block: var(--space-m);
	}
	.pad-block-fluid-lg {
		padding-block: var(--space-l);
	}
	.pad-block-relative-md {
		padding-block: var(--space-m);
	}
	.pad-block-relative-lg {
		padding-block: var(--space-l);
	}
	.pad-block-relative-xl {
		padding-block: var(--space-xl);
	}

	.aspect-square {
		aspect-ratio: 1 / 1;
	}

	.align-self-start {
		align-self: start;
	}
	.align-self-stretch {
		align-self: stretch;
	}
	.justify-items-center {
		justify-items: center;
	}
	.flex-nowrap {
		flex-wrap: nowrap;
	}
	.flex-grow {
		flex-grow: 1;
	}
	.flex-hulk {
		flex-grow: 99;
	}

	.type-heading-3 {
		@include fonts.heading-3;
	}
	.type-body-3 {
		@include fonts.body-3;
	}
	.type-body-4 {
		@include fonts.body-4;
	}

	.text-1 {
		color: var(--text-1);
	}
	.text-2 {
		color: var(--text-2);
	}
	.text-3 {
		color: var(--text-3);
	}

	.unstyled {
		display: none;
	}
}
