@use "tokens/fonts";

@mixin css {
	.mbs-l { margin-block-start: var(--space-l) }

	.mi-auto { margin-inline: auto }
	.mie-auto { margin-inline-end: auto }

	.pb-m { padding-block: var(--space-m) }
	.pb-l { padding-block: var(--space-l) }
	.pb-xl { padding-block: var(--space-xl) }

	.aspect-square { aspect-ratio: 1 / 1 }

	.shape-circle {
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		overflow: hidden;
	}

	.align-self-start {
		align-self: start;
	}
	.align-self-stretch {
		align-self: stretch;
	}
	.justify-items-center {
		justify-items: center;
	}
	.flex-nowrap {
		flex-wrap: nowrap;
	}
	.flex-grow {
		flex-grow: 1;
	}
	.flex-hulk {
		flex-grow: 99;
	}

	.type-heading-3 {
		@include fonts.heading-3;
	}
	.type-body-3 {
		@include fonts.body-3;
	}
	.type-body-4 {
		@include fonts.body-4;
	}

	.text-1 {
		color: var(--text-1);
	}
	.text-2 {
		color: var(--text-2);
	}
	.text-3 {
		color: var(--text-3);
	}
}
