@use "tokens";

@function corner ($first, $second) {
  @return #{1 + random($first)}rem #{1 + random($second)}rem;
}

@mixin corner-var($location, $first, $second) {
  --#{$location}-radius: #{corner($first, $second)};
}

@mixin blob {
  border-top-left-radius: var(--top-left-radius, corner(8, 5));
  border-top-right-radius: var(--top-right-radius, corner(4, 8));
  border-bottom-left-radius: var(--bottom-left-radius, corner(8, 12));
  border-bottom-right-radius: var(--bottom-right-radius, corner(7, 13));
}

.webmention__avatar {
  $size: 4rem;

  position: relative;

  height: $size;
  width: $size;
  padding: tokens.space(0);

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;

    opacity: 0.4;
    mix-blend-mode: multiply;

    z-index: -1;
  }

  &::before {
    @include blob;

    left: -0.25rem;
    top: 0;
    height: $size - 0.5rem;
    width: $size;

    transform: rotate(var(--rotate, 50deg));

    background-color: tokens.color("primary-shade");
  }

  &::after {
    @include blob;

    left: 0.5rem;
    top: -0.125rem;
    height: $size + 0.25rem;
    width: $size - 0.5rem;

    transform: rotate(var(--rotate, -10deg));

    background-color: tokens.color("accent");
  }

  .webmention__avatar--anonymous,
  > img {
    @include blob;

    position: relative;
    height: 100%;
    width: 100%;

    object-fit: cover;

    background-color: tokens.color("light");
  }

  &:nth-child(odd) {
    &::after {
      @include corner-var("top-left", $size, $size * 2);
    }
  }

  &:nth-child(even) {
    &::before {
      @include corner-var("bottom-left", $size * 1.25, $size * 2);
    }
  }

  &:nth-child(3n) {
    &::before {
      --rotate: #{70 + random(20)}deg;
    }

    &::after {
      @include corner-var("top-right", $size * 3, $size * 2);
    }
  }

  &:nth-child(5n) {
    &::after {
      @include corner-var("top-left", $size, $size * 2);
    }

    > img {
      @include corner-var("top-right", $size, $size);
      @include corner-var("bottom-right", $size * 2, $size);
    }
  }
}
