@use "./tokens";

.resume {
  display: grid;
  column-gap: tokens.space(2);
  align-items: baseline;

  @supports (grid-template-columns: subgrid) {
    @media print, screen and (min-width: 57em) {
      grid-template-columns: fit-content(30%) minmax(auto, tokens.measure(2));
      grid-auto-rows: min-content;

      > * {
        grid-column: 2 / 3;
      }

      > header {
        display: grid;
        align-items: baseline;
        grid-column: 1 / -1;
        grid-row-end: span 2;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;

        > h1 {
          grid-column: 1 / -1;
          display: grid;
          align-items: baseline;
          grid-template-columns: subgrid;
          grid-template-rows: subgrid;

          > :first-child {
            justify-self: end;
          }
        }

        > p {
          grid-column: 2 / 3;
        }
      }

      > h2 {
        grid-column: 1 / 2;
        text-align: right;
      }

      > article {
        display: grid;
        align-items: baseline;
        grid-column: 1 / -1;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;

        grid-row-end: span 3;

        > header {
          grid-column: 1 / 2;
          grid-row: 1 / 4;

          text-align: right;
        }

        > p {
          grid-column: 2 / 3;
        }

        > footer {
          grid-column: 2 / 3;
        }
      }
    }
  }
}

@media print {
  [role="banner"],
  main > h1 {
    display: none;
  }
}
