@use "sass:map";
@use "sass:meta";

@use "../_data/tokens.json" as tokens;
@use "./mixins/typography" as type;

// Styleguide components

.swatches {
  display: grid;
  grid-gap: map.get(tokens.$space, 1);
  grid-template-columns: repeat(auto-fill, minmax(min(30ch, 100%), 1fr));
}

.swatch {
  border: 1px solid map.get(tokens.$color, "ink");
  height: map.get(tokens.$space, 3);
}

.white-space {
  background-color: map.get(tokens.$color, "mid");
}

// Utility classes for applying tokens to elements in style guide

@each $tok, $val in tokens.$color {
  .swatch__#{$tok} {
    background-color: $val;
  }
}

@each $tok, $val in tokens.$space {
  .h-#{$tok} {
    height: $val;
  }
}
