@use "sass:map";
@use "sass:meta";

@use "../_data/tokens.json" as tokens;
@use "./mixins/typography" as type;

// Styleguide components

.swatches {
  display: grid;
  grid-gap: map.get(tokens.$space, 1);
  grid-template-columns: repeat(auto-fill, minmax(min(30ch, 100%), 1fr));
}

.swatch {
  border: 1px solid map.get(tokens.$color, "ink");
  height: map.get(tokens.$space, 3);
}

.font-specimen {
  display: grid;
  grid-gap: 0.125em;
  grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
  justify-items: center;
}

.white-space {
  background-color: map.get(tokens.$color, "primary");
}

// Utility classes for applying tokens to elements in style guide

@each $tok, $val in tokens.$color {
  .swatch__#{$tok} {
    background-color: $val;
  }
}

@each $tok, $val in tokens.$font {
  .font-#{$tok} {
    font-family: #{$val};
  }
}

$-min-text: map.get(tokens.$type, "min-step");
$-max-text: map.get(tokens.$type, "max-step");
@for $i from $-min-text through $-max-text {
  .text-#{$i} {
    @include type.font-size($i);
  }
}

@each $tok, $val in tokens.$space {
  .h-#{$tok} {
    height: $val;
  }
}
