* {
  margin: 0;
}

:root {
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1140,18,1.333,3,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

  --step--2: clamp(0.63rem, calc(0.64rem + -0.01vw), 0.64rem);
  --step--1: clamp(0.80rem, calc(0.78rem + 0.09vw), 0.84rem);
  --step-0: clamp(1.00rem, calc(0.95rem + 0.24vw), 1.13rem);
  --step-1: clamp(1.25rem, calc(1.15rem + 0.49vw), 1.50rem);
  --step-2: clamp(1.56rem, calc(1.39rem + 0.85vw), 2.00rem);
  --step-3: clamp(1.95rem, calc(1.68rem + 1.39vw), 2.66rem);

  --font-family-sans: system-ui, sans-serif;
  --font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

html, body {
  height: 100%;
}

html {
  font-family: var(--font-family-sans);
  font-size: var(--step-0);
  line-height: 1.5;
}

body {
  width: clamp(20rem, 85vw, 75rem);
  margin-inline: auto;
  padding-inline: 1rem;
}

article {
  max-width: 78ch;
}

canvas, iframe, img, svg, video {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

pre {
  overflow-x: auto;
}

code {
  font-family: var(--font-family-mono);
}

button, input, select, textarea {
  font: inherit;
}

header > p {
  border-block-start: 1px solid #888;
  padding-block: 0.5em;
  font-family: var(--font-family-mono);
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

[hidden] {
  display: none;
}

[role="banner"] {
  margin-bottom: 2rem;
  padding-block: 1em;
}

[role="banner"] [href="/"] {
  border-radius: 50%;
  overflow: hidden;
  background-image: url("/img/evan-alt.jpg");
  background-size: cover;
}

[role="banner"] [href="/"]:hover img {
  opacity: 0;
}

[role="banner"] img {
  height: 4rem;
  width: 4rem;
}

[data-center-width="site"] {
  --layout-width: 100%;
}

[data-layout="cluster"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.icon {
  height: 1.5em;
}

.flow > * + * {
  margin-block-start: var(--flow, 1.5em);
}

.invisible {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
  border-radius: 4px;
  padding: 0.5em 1em;
  background-color: var(--surface-2);
  text-decoration: none;
  opacity: 0;
  transition-property: top, transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.invisible:focus {
  outline: 0.25em solid var(--primary-1);
  outline-offset: 0;
  transform: translate(-50%, 0);
  top: 1em;
  opacity: 1;
}

.list-reset {
  list-style: none;
  padding: 0;
}

.margin-inline-auto {
  margin-inline: auto;
}

.margin-inline-end-auto {
  margin-inline-end: auto;
}

@media screen and (-ms-high-contrast: active) {
  button {
    border: 2px solid currentcolor;
  }
}
