* {
  margin: 0;
}

:root {

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1140,18,1.25,3,1,&s=0.5,1.5|3|4,s-l */
  --step--1: clamp(0.89rem, calc(0.88rem + 0.02vw), 0.90rem);
  --step-0: clamp(1.00rem, calc(0.95rem + 0.24vw), 1.13rem);
  --step-1: clamp(1.13rem, calc(1.02rem + 0.55vw), 1.41rem);
  --step-2: clamp(1.27rem, calc(1.07rem + 0.96vw), 1.76rem);
  --step-3: clamp(1.42rem, calc(1.12rem + 1.51vw), 2.20rem);

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.125,1140,18,1.25,3,1,&s=0.5,1.5|3|4,s-l */
  --space-xs: clamp(0.50rem, calc(0.48rem + 0.12vw), 0.56rem);
  --space-s: clamp(1.00rem, calc(0.95rem + 0.24vw), 1.13rem);
  --space-m: clamp(1.50rem, calc(1.43rem + 0.37vw), 1.69rem);
  --space-l: clamp(3.00rem, calc(2.85rem + 0.73vw), 3.38rem);
  --space-xl: clamp(4.00rem, calc(3.80rem + 0.98vw), 4.50rem);
  /* One-up pairs */
  --space-xs-s: clamp(0.50rem, calc(0.26rem + 1.22vw), 1.13rem);
  --space-s-m: clamp(1.00rem, calc(0.73rem + 1.34vw), 1.69rem);
  --space-m-l: clamp(1.50rem, calc(0.77rem + 3.66vw), 3.38rem);
  --space-l-xl: clamp(3.00rem, calc(2.41rem + 2.93vw), 4.50rem);

  --font-family-sans: system-ui, sans-serif;
  --font-family-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

html, body {
  height: 100%;
}

html {
  font-family: var(--font-family-sans);
  font-size: var(--step-0);
  line-height: 1.5;
}

body {
  width: clamp(20rem, 85vw, 75rem);
  margin-inline: auto;
  padding-inline: 1rem;
}

article {
  max-width: 68ch;
}

canvas, iframe, img, svg, video {
  display: block;
  max-width: 100%;
}

:is([role="banner"], .card, h1, h2, h3, h4, h5, h6) :is(a, :visited) {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

hr {
  border: none;
  border-block-start: 2px solid #888;
}

pre {
  padding: var(--space-s);
  overflow-x: auto;
  font-size: var(--step--1);
  background-color: #eee;
}

figure {

  margin-block: 3em;
}

figcaption {
  margin-block-start: var(--space-s);
  padding-block-start: var(--space-xs);

  font-family: var(--font-family-serif);
  font-style: italic;

  background-image: linear-gradient(90deg, #888, #888 12ch, transparent 12ch);
  background-size: 100% 2px;
  background-repeat: no-repeat;
}

code {
  font-family: var(--font-family-mono);
}

button, input, select, textarea {
  font: inherit;
}

header > p {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

/* FIXME: This should be a utility class for the font style */
header > p,
.card small {
  font-family: var(--font-family-mono);
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

header > p::after {
  content: "";

  display: block;
  flex: 1 1 auto;

  border-block-start: 2px solid #888;
}

[hidden] {
  display: none;
}

[role="banner"] [href="/"] {
  background-image: url("/img/evan-alt.jpg");
  background-size: cover;
}

[role="banner"] [href="/"] img {
  max-height: 100%;
}

[role="banner"] [href="/"]:hover img {
  opacity: 0;
}

[data-center-width="site"] {
  --layout-width: 100%;
}

[data-layout="cluster"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

[data-layout="grid"] {
  display: grid;
  gap: var(--space-m);
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
}

[data-layout="stack"] {
  display: grid;
  grid-template-areas: "main";
  place-items: center;
}

[data-layout="stack"] > * {
  grid-area: main;
  z-index: 1;
}

[data-layout="stack"] img {
  z-index: 0;
}

[data-space="xl"] {
  --space: var(--space-xl);
}

.card {
  position: relative;
  background-color: #ddd;
}

.card a::after {
  content: "";

  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  display: block;
}

.card > .card--body {
  margin: 1em;
  padding: 1em;

  background-color: rgba(255, 255, 255, 0.7);
}

.icon {
  height: 1.5em;
}

:where(.flow) > * + * {
  margin-block-start: var(--space, 1.5em);
}

.invisible {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
  border-radius: 4px;
  padding: 0.5em 1em;
  background-color: var(--surface-2);
  text-decoration: none;
  opacity: 0;
  transition-property: top, transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.invisible:focus {
  outline: 0.25em solid var(--primary-1);
  outline-offset: 0;
  transform: translate(-50%, 0);
  top: 1em;
  opacity: 1;
}

.list-reset {
  list-style: none;
  padding: 0;
}

.margin-block-start-xs { margin-block-start: var(--space-xs) }
.margin-block-end-xs { margin-block-end: var(--space-xs) }
.margin-block-start-m { margin-block-start: var(--space-m) }
.margin-block-end-m { margin-block-end: var(--space-m) }
.margin-block-start-l { margin-block-start: var(--space-l) }
.margin-block-end-l { margin-block-end: var(--space-l) }
.margin-block-start-xl { margin-block-start: var(--space-xl) }
.margin-block-end-xl { margin-block-end: var(--space-xl) }
.margin-block-start-m-l { margin-block-start: var(--space-m-l) }
.margin-block-end-m-l { margin-block-end: var(--space-m-l) }
.margin-inline-auto { margin-inline: auto }
.margin-inline-end-auto { margin-inline-end: auto }

.padding-block-m { padding-block: var(--space-m) }

.shape-circle {
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.width-l-xl {
  width: var(--space-l-xl);
}

@media screen and (-ms-high-contrast: active) {
  button {
    border: 2px solid currentcolor;
  }
}
