
label {
  display: block;
  font-weight: bold;
}

input,
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

button {
  border: none;
}

input {
  border-style: solid;
}

/* Links */
a:link {
  position: relative;
  text-underline-offset: 0.125em;
  color: var(--theme-link);
}

a:link::before {
  content: "";
  border-radius: 4px;
  position: absolute;
  top: -0.5em;
  right: -0.25em;
  bottom: -0.25em;
  left: -0.25em;
  z-index: -1;
  background-color: var(--theme-focus);
  opacity: 0;
  transition: opacity 150ms linear;
}

a:link:hover::before {
  opacity: 1;
}

a:visited {
  color: var(--theme-visited);
}

[hidden] {
  display: none;
}

/* Layouts */

[data-space="0"]  { --space: 0 }
[data-space="xs"] { --space: var(--space-xs) }
[data-space="sm"] { --space: var(--space-sm) }
[data-space="md"] { --space: var(--space-md) }
[data-space="lg"] { --space: var(--space-lg) }

/* Utilities */

.margin-block-start-sm { margin-block-start: var(--space-sm) }
.margin-block-end-xs { margin-block-end: var(--space-xs) }
.margin-block-end-sm { margin-block-end: var(--space-sm) }
.margin-inline-end-auto { margin-inline-end: auto }

.pad-block-md { padding-block: var(--space-md) }
.pad-block-lg { padding-block: var(--space-lg) }
.pad-block-xl { padding-block: max(var(--space-md), 20vmin) }

.list-reset {
  padding: 0;
  list-style: none;
}

.list-reset > li {
  margin: 0;
}

.unstyled { display: none }

/* Components */

body > header {
  --theme-link: var(--color-gray-1);
  --theme-visited: var(--theme-link);
}

body > header [aria-current] {
  --theme-link: var(--color-gray-0);
}

.u-photo {
  border-radius: 50%;
}

/* Exceptions */

/* Main navigation */
body > header a {
  text-decoration: none;
}

/* Site Logo */
body > header img {
  max-height: 3rem;
}

footer svg {
  height: 1.5rem;
}

/* Fallback for old browsers */
@supports not (display: grid) {
  body {
    max-width: var(--measure-md);
    margin-inline: auto;
    padding-inline: var(--gutter, var(--space-sm));
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --surface-0: var(--color-gray-0);
    --surface-1: var(--color-gray-1);
    --surface-2: var(--color-gray-2);
    --text-0: var(--color-gray-5);
    --text-1: var(--color-gray-4);
    --text-2: var(--color-gray-3);

    --theme-link: var(--color-gray-5);
    --theme-visited: var(--color-gray-4);
    --theme-focus: var(--color-gray-1);
  }

  /* Main navigation */
  body > header {
    --theme-link: var(--color-gray-4);
  }

  body > header [aria-current] {
    --theme-link: var(--color-gray-5);
  }

  figure::after {
    background-color: var(--surface-1);
  }
}

@media screen and (min-width: 50em) {
  figure > figcaption,
  [data-layout="grid"] > :not(:where([data-columns], [data-layout="grid"])) {
    grid-column: 7 / -3;
  }

  figure > * {
    grid-column: 6 / -2;
  }

  [data-layout="grid"] > h1 {
    grid-column: 2 / -2;
  }

  [data-layout="grid"] > h2,
  [data-layout="grid"] > [data-columns="headings"] {
    grid-column: 2 / span 4;
    text-align: right;
  }

  [data-layout="grid"] > h2 + * {
    --space: calc(var(--line-height-md) * 2em);
  }

}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}

@media screen and (-ms-high-contrast: active) {
  button {
    border: 2px solid currentcolor;
  }
}
