<footer id="site-footer" role="contentinfo"
        class="flow pb-l type-body-3" data-layout="center"
        data-center-width="site" style="--space:var(--space-m)">
  <hr />
  <div data-layout="cluster" data-cluster="center">
    <p>{% copyright %}</p>

    <a href="mailto:{{ site.a11y.contact }}?subject={{ site.a11y.subject }}&body={{ site.a11y.body }}"
       class="mi-auto">Report an accessibility issue</a>

    <nav>
      <ul data-layout="cluster" style="--space:var(--space-xs)" role="list">
        <li><a href="/privacy/">Privacy</a></li>
        <li><a href="/about/">About</a></li>
        {% for link in social %}
          {% set relAttr = "" %}
          {% set titleAttr = "" %}
          {% set content = link.text %}

          {% if link.rel %}
            {% set relAttr = " rel='" + link.rel + "'" %}
          {% endif %}

          {% if link.icon %}
            {% set titleAttr = " title='" + link.text + "'" %}
            {% set content %}{% include "icons/" + link.icon %}{% endset %}
          {% endif %}

          <li>
            <a href="{{ link.url }}"{{ relAttr | safe }}{{ titleAttr | safe }}>
              {{ content | safe }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</footer>
