@use "../global/tokens";

.card {
  background-color: tokens.color("accent");
  background-image:
    linear-gradient(123deg, var(--color-1) 19%, transparent 54%),
    radial-gradient(ellipse at -21% 157%, var(--color-1) 7%, transparent 76%);
  background-image:
    var(--bg1, linear-gradient(123deg, var(--color-1) 19%, transparent 54%)),
    var(--bg2, radial-gradient(ellipse at -21% 157%, var(--color-1) 7%, transparent 76%)),
    var(--bg3, linear-gradient(transparent, transparent)),
    var(--bg4, linear-gradient(transparent, transparent));
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 2.4px 2.4px 3.2px;
  break-inside: avoid;
  padding: 64% tokens.space(0) 16% tokens.space(0);
  padding: var(--padding-top, 64%) tokens.space(0) var(--padding-bottom, 16%) tokens.space(0);
  position: relative;
  transition: filter 250ms ease-out;

  &:hover {
    filter: invert(100%);
  }

  .card__title {
    line-height: tokens.line-height(1);
    text-shadow: none;
  }

  .card__meta {
    font-weight: bold;
    line-height: tokens.line-height(1);
    text-transform: uppercase;
  }

  .card__link {
    text-decoration: none;
  }

  .card__link,
  .card__link:visited {
    color: inherit;
  }

  .card__link::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.card:nth-of-type(odd) {
  --bg2:
    linear-gradient(196deg, #{tokens.color("accent")} 18%, transparent 66%),
    radial-gradient(ellipse at 81% 84%, #{tokens.color("accent")} 16%, transparent 60%),
    radial-gradient(ellipse at -62% 62%, #{tokens.color("accent")} 36%, transparent 80%),
    linear-gradient(15deg, var(--color-1) 54%, transparent 9%);
}
.card:nth-last-of-type(3n + 1) {
  --bg1: linear-gradient(228deg, var(--color-1) 13%, transparent 83%);
}
.card:nth-last-of-type(4n + 1) {
  --bg1: linear-gradient(transparent, transparent);
}
.card:nth-last-of-type(5n + 1) {
  --bg3: linear-gradient(141deg, var(--color-1) 43%, transparent 47%);
}
