@use "../global/tokens";

.card {
  display: grid;
  grid-gap: tokens.space(0);
  grid-template-columns:
    [cover-start] 1em
    [title-start] 10fr
    [cover-end meta-start] 1fr
    [title-end meta-end];
  grid-template-rows:
    [cover-start meta-start] 6fr
    [meta-end title-start] min-content
    [title-end] 1fr
    [cover-end];

  position: relative;

  .card__title {
    background-color: tokens.color("accent");
    grid-area: title;
    line-height: 1;
    padding: tokens.space(0);
    text-shadow: none;
    z-index: 1;
  }

  .card__meta {
    align-self: end;
    color: tokens.color("slate");
    font-weight: bold;
    grid-area: meta;
    line-height: 1;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    z-index: 1;
  }

  .card__cover {
    grid-area: cover;
    z-index: 0;
  }

  .card__link {
    text-decoration: none;
  }

  .card__link,
  .card__link:visited {
    color: inherit;
  }

  .card__link::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
