.card {
  display: grid;
  grid-template-areas: "stack";
  place-items: center;
  aspect-ratio: 1 / 1;
  text-align: center;
  background-color: var(--surface-2);

  > * {
    grid-area: stack;
  }

  .card__container {
    padding: var(--space-fluid-sm);
    contain: layout;
    z-index: 2;

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      background-color: var(--surface-2);
      opacity: 0.6;
    }
  }

  a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .card__media {
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
  }
}
