@use "../tokens";

.header-anchor {
  color: tokens.color("slate");
  position: absolute;
  left: -1.5ch;
  text-decoration: none;
  text-shadow: none;

  &:hover {
    // Override hover styles for generic links
    background-color: unset;

    color: tokens.color("primary");
  }
}

