@use "../global/tokens";
@use "../mixins/typography" as *;

$-bp: 55em;

h1, h2, h3, h4, h5, h6 {
  position: relative;

  @media screen and (max-width: $-bp) {
    padding-right: tokens.space(3);
  }
}

.header-anchor {
  @include font-family("heading");

  color: tokens.color("mid");
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
  transition: 200ms ease-out color;

  @media screen and (min-width: 55em) {
    left: -#{tokens.space(3)};
    right: auto;
  }
}

*:hover > .header-anchor {
  color: tokens.color("slate");
}

* .header-anchor:hover {
  color: tokens.color("primary");
}
