@use "../tokens";
@use "../mixins/typography" as *;

.home {
  display: grid;
  gap: tokens.space(2);
  grid-template-columns: minmax(auto, 277px) 1fr;

  align-items: center;
  justify-items: start;

  & > img {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  & > nav {
    @include font-size(6);
    grid-column: 2 / 3;
    grid-row: 1;
    margin-top: 0;
  }

  a {
    background-color: #{tokens.color("light")};
    outline: 0.125em solid transparent;
    transition: outline-color 150ms linear;

    &:hover {
      outline-color: tokens.color("accent");
    }
  }
}
