@use "../global/tokens";

.post-summary {
  line-height: tokens.line-height(2);
  position: relative;

  .post-summary__title {
    font-family: #{tokens.font-family("heading")};
    font-size: tokens.font-size(2);
    margin: 0;
    position: static;
  }

  .post-summary__link {
    color: tokens.color("ink");

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .post-summary__date {
    font-size: tokens.font-size(-1);
    margin: 0;
  }

  .post-summary__description {
    margin-top: tokens.font-size(1);
  }
}
