@use "../global/tokens";

%project-summary {
  display: flex;
  flex-direction: column;
  padding-left: tokens.$site-margin;
  padding-right: tokens.$site-margin;

  * {
    margin-bottom: 0;
    margin-top: 0;
  }

  .project-summary__container {
    display: grid;
    gap: tokens.space(2) tokens.space(3);
    grid-auto-rows: min-content;
    grid-template-areas:
      "media"
      "header"
      "body";
    margin-left: auto;
    margin-right: auto;
  }

  .project-summary__header {
    grid-area: header;
    padding-top: tokens.space(0);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 4px;
      width: 8ch;
      background-color: var(--color-1);
    }
  }

  .project-summary__body {
    columns: #{tokens.get("type", "measure") / 2} auto;
    gap: tokens.space(2);
    grid-area: body;
  }

  .project-summary__media {
    grid-area: media;
  }

  img {
    box-shadow: 0 0 #{tokens.space(1)} rgba(0, 0, 0, 0.2);
    max-height: 95vh;
  }
}

.project-summary--ionian {
  @extend %project-summary;

  @media (min-width: #{tokens.get("type", "measure") * 4 / 3}) {
    .project-summary__container {
      grid-template-areas:
        "media header"
        "media body";
      grid-template-columns:
        minmax(auto, max-content)
        #{tokens.get("type", "measure") / 2};
      grid-template-rows: min-content 1fr;
    }
  }
}

.project-summary--dorian {
  @extend %project-summary;

  .project-summary__header,
  .project-summary__body {
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    max-width: #{tokens.get("type", "measure") * 4 / 3};
    width: 100%;
  }
}
