.profile-photo {
  display: inline-block;
  isolation: isolate;
  position: relative;
}

.profile-photo::after {
  background-color: cadetblue;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.profile-photo > img {
  mix-blend-mode: screen;
}
