@use "../tokens";
@use "../mixins/typography" as *;

#site-footer {
  --flow-sp: #{tokens.space(2)};
  @include font-size(-1);

  color: tokens.color("slate");
  margin-bottom: #{tokens.space(4)};
  margin-top: #{tokens.space(4)};

  hr {
    flex: 1 1 auto;
  }

  svg {
    display: inline-block;
    height: 2em;
    width: 2em;
  }
}

