@use "../global/tokens";

[role="banner"] {
  margin-top: tokens.space(3);
}

[role="banner"] a:visited {
  color: inherit;
}

.name-mark {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3em;
  display: block;
  font-size: 1.732em;
  line-height: tokens.line-height(1);
  max-width: 9em;
  overflow: visible;
  text-decoration: none;
  text-transform: lowercase;

  &:hover {
    // Override default link hover effect
    background-color: unset;
  }
}

.name-mark > .first,
.name-mark > .last {
  margin: 0;
  overflow: hidden;
}

.name-mark > .last {
  transform: scale(-1);
}

@supports (display: grid) {
  .name-mark {
    display: grid;
    grid-column: full;
    grid-template-columns:
      tokens.$site-margin
      0.577fr
      1fr
      1.732fr
      tokens.$site-margin;
    grid-template-rows: 1fr 0.65em 1px 0.65em 1fr;
    height: 3em;
    margin-left: -#{tokens.$site-margin};
    margin-right: -#{tokens.$site-margin};
  }

  .name-mark::after {
    background-color: tokens.color("ink");
    content: "";
    display: block;
    grid-column: 1 / -1;
    grid-row: 3;
    z-index: 2;
  }

  .name-mark > .first {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
  }

  .name-mark > .last {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
  }
}
