[role="banner"] {
  margin-bottom: map-get($space, 4);
  margin-top: map-get($space, 4);
}

[role="banner"] a:visited {
  color: inherit;
}

.name-mark {
  display: block;
  font-size: 1.732em;
  line-height: 1;
  max-width: 7em;
  text-decoration: none;
  text-transform: lowercase;
}

.name-mark > .first,
.name-mark > .last {
  margin: 0;
  overflow: hidden;
}

.name-mark > .last {
  transform: scale(-1);
}

@supports (clip-path: polygon(0 0)) and (display: grid) {
  .name-mark::before {
    align-self: center;
    background-color: var(--color-accent);
    content: "";
    clip-path:
      polygon(
        50% 100%,
        73.236% 94.273%,
        91.149% 78.403%,
        99.635% 56.027%,
        96.751% 32.27%,
        83.156% 12.574%,
        61.966% 1.453%,
        38.034% 1.453%,
        16.844% 12.574%,
        3.249% 32.27%,
        0.365% 56.027%,
        8.851% 78.403%,
        26.764% 94.273%,
        50% 100%
      );
    grid-column: 3 / span 2;
    grid-row: 1 / -1;
    height: 3em;
    width: 3em;
    z-index: -1;
  }
}
