@use "../theme";
@use "../tokens";
@use "../layouts/cluster";

[role="banner"] {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  margin-bottom: tokens.space(3);
  margin-top: tokens.space(3);

  & > nav {
    @extend .cluster;
    margin-left: auto;
  }

  & a:visited {
    color: inherit;
  }

  & [aria-current] {
    color: tokens.color("primary") !important;
    outline: 2px solid tokens.color("primary");
    outline-offset: calc(#{tokens.space(0)} - 2px);
  }
}
