.webmention {
  display: grid;

  grid-auto-rows: min-content;
  grid-template-areas:
    "av . auth"
    "av . body";
  grid-template-columns: var(--icon-md) var(--space-fluid-sm) 1fr;

  .webmention__avatar {
    grid-area: av;
    background-color: var(--surface-2);

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .webmention__author {
    grid-area: auth;
  }

  .webmention__body {
    grid-area: body;
  }
}
