@use "../global/tokens";

@supports (display: grid) {
  /* Base grid */
  body > :not(script) {
    display: grid;
    grid-template-columns:
      1fr
      [full-start] tokens.space(1)
      [content-start wide-start] minmax(auto, tokens.get("type", "measure"))
      [content-end] 1fr
      [wide-end] tokens.space(1)
      [full-end]
      1fr;
  }

  body > * > * {
    grid-column: content;
  }

  body > * > h1,
  body > * > h2 {
    grid-column: content-start / full-end;
  }
}
