@use "../tokens" as tokens;

.cluster {
  $gap: #{tokens.space(0)};
  margin: -#{$gap};
  margin: calc(var(--cluster-gap, #{$gap}) * -1);

  > * {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    // It's common to apply the cluster layout to lists, so we clear the list style.
    list-style: none;
  }

  > * > * {
    margin: $gap;
    margin: var(--cluster-gap, #{$gap});
  }

  .cluster__item--end {
    margin-left: auto;
  }
}
