@use "../tokens";

.flow {
  $default-space: tokens.space(1);

  & > * + * {
    // FIXME: these should be tokens?
    margin-top: $default-space;
    margin-top: var(--flow-sp, #{$default-space});
  }
}
