.flow,
article:not([class]) {
  & > * + * {
    // FIXME: these should be tokens?
    margin-top: 1em;
    margin-top: var(--flow-sp, 1em);
  }

  // <h1>s have a bottom margin, so we can skip the top margin on any sibling element in
  // case the elements are in a grid layout, which doesn't collapse margins.
  & > h1 + *,
  & > hr + * {
    margin-top: 0;
  }
}
