---
title: Weblog
layout: layouts/page.njk
---

{% from "partials/macros/datetime.njk" import pubDate %}

<div class="flow flow-sp-3">
{% for post in collections.posts %}
  {% set postUrl = post.url %}
  {% set postTitle = post.data.title %}
  {% set postDate = post.data.date %}
  {% set postDescription = post.data.description %}

  {% include "partials/components/post-summary.njk" %}
{% endfor %}
</div>
