---
title: Weblog
layout: layouts/page.njk
---

{% from "partials/macros/datetime.njk" import pubDate %}

<div class="flow flow-sp-3">
{% for post in collections.posts %}
  <article class="line-height-2">
    <h2 class="font-heading size-2 margin-none">
      <a href="{{ post.url }}" class="color-ink">
        {{ post.data.title }}
      </a>
    </h2>
    <p class="margin-none size--1">
        {{ pubDate(post.data.date) }}
    </p>
    <p class="margin-top-1">{{ post.data.description }}</p>
  </article>
{% endfor %}
</div>
