---
layout: base.liquid
---

<main class="center flow h-feed">
	<h1>{{ title | default: site.title }}</h1>
	<div id="Skip" tabindex="-1" class="flow">
		{% for p in pageList %}
			{% render "post-summary", page: page, post: p %}
		{% endfor %}
	</div>

	{{ content }}
</main>
