---
title: Design
eleventyExcludeFromCollections: true
---

{% extends "./_layouts/base.njk" %}

{% block head %}
	{{ super() }}
<style>
	body {
		padding-inline: clamp(1em, 5vw, 4em);
	}

	p, li, blockquote, figcaption {
		max-width: 66ch;
	}
</style>
{% endblock %}

{% block body %}
	<div class="stack">
		<h1>Design</h1>

		<article class="stack">
			<h2>Type</h2>

			<h3>Display</h3>
			<p class="body-3"><strong>display-1</strong></p>
			<p class="display-1 mbs-0">The Brilliance of Terry Pratchett</p>

			<h3>Headings</h3>
			<p class="body-3"><strong>heading-1</strong></p>
			<p class="heading-1 mbs-0" style="overflow-wrap: break-word">The Brilliance of Terry Pratchett</p>
			<p class="body-3"><strong>heading-2</strong></p>
			<p class="heading-2 mbs-0">The Brilliance of Terry Pratchett</p>
			<p class="body-3"><strong>heading-3</strong></p>
			<p class="heading-3 mbs-0">The Brilliance of Terry Pratchett</p>

			<h3>Body</h3>
			<p class="body-3"><strong>body-1</strong></p>
			<p class="body-1 mbs-0">I think it’s hard to overstate the brilliance of Sir Terry Pratchett, although it may have been easy to miss because you were so busy laughing.</p>
			<p class="body-3"><strong>body-2</strong></p>
			<p class="body-2 mbs-0">I think it’s hard to overstate the brilliance of Sir Terry Pratchett, although it may have been easy to miss because you were so busy laughing.</p>
			<p class="body-3"><strong>body-3</strong></p>
			<p class="body-3 mbs-0">I think it’s hard to overstate the brilliance of Sir Terry Pratchett, although it may have been easy to miss because you were so busy laughing.</p>
		</article>
	</div>
{% endblock %}
