---
eleventyExcludeFromCollections: true
layout: layouts/base.njk
---

{% import "components.njk" as components %}

<h1 id="Skip" tabindex="-1">Recent Posts</h1>
{% include "partials/theme-toggle.njk" %}

{{ components.feed(collections.feed.slice(0, site.recentPostCount)) }}
