---
title: Résumé
---

<section>
  <h2>Experience</h2>

</section>

<section>
  <h2>Skills</h2>

  {% for group in resume.skills %}
    <h3>{{ group.name }}</h3>

    <ul class="skills">

      {% for skill in group.skills | sort %}
        <li>{{ skill }}</li>
      {% endfor %}

    </ul>
  {% endfor %}
<section>

<section>
  <h2>Education</h2>

  <ul class="education">{% for degree in resume.education %}
    <li>{{ degree.name }} <small>{{ degree.institution }}</small></li>
  {% endfor %}</ul>
</section>
