---
title: Styleguide
layout:
---

{% extends "layouts/base.njk" %}

{% block head %}
  <style>{{ "src/_scss/styleguide.scss" | sass | cssmin | safe }}</style>
{% endblock %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <h1>{{ title }}</h1>

    <h2 class="token-group">Color</h2>
    <ul class="swatches">
      {% for tok, val in tokens.color %}
        <li>
          <h3 class="token-name">{{ tok }}</h3>
          <div class="swatch swatch__{{ tok | safe }}"></div>
          <dl>
            <dt>Value</dt>
            <dd><code>{{ val }}</code></dd>
            <dt>SASS Function</dt>
            <dd><code>tokens.color("{{ tok }}")</code></dd>
          </dl>
        </li>
      {% endfor %}
    </ul>

    {% set specimen = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890&.,;:!?" %}

    <h2 class="token-group">Fonts</h2>
    {% for tok, val in tokens.font %}
      <h3 class="token-name">{{ tok }}</h3>
      <p class="font-specimen font-{{ tok | safe }} text-2">
        {% for glyph in specimen %}
          <span class="glyph">{{ glyph }}</span>
        {% endfor %}
      </p>
      <p class="font-sample font-{{ tok | safe }} text-2">
        The quick brown fox jumps over a lazy dog.
      </p>
      <p><code>tokens.color("{{ tok }}")</code></p>
    {% endfor %}

    <h2 class="token-group">Text Sizes</h2>
    {% for i in range(tokens.type["min-step"], tokens.type["max-step"] + 1) %}
      <p class="text-{{ i | safe }}">Text size {{ i }}</p>
    {% endfor %}
  </main>
{% endblock %}
