---
permalink: css/tokens.css
---

:root {
  {% for k, range in tokens.space %}
    --space-{{ k }}: {% clamp tokens.viewport, range, tokens.baseFontSize %};
  {%- endfor %}

  {% for role, stack in tokens.fontStack %}
    --font-stack-{{ role }}: {{ stack | safe }};
  {%- endfor %}

  {% for k, range in tokens.fontSize %}
    --font-size-{{ k }}: {% clamp tokens.viewport, range, tokens.baseFontSize %};
  {%- endfor %}

  {% for k, v in tokens.lineHeight %}
    --line-height-{{ k }}: {{ v }};
  {%- endfor %}

  --measure: {{ tokens.measure }};

  {% for name, palette in tokens.color %}
    {% for k, v in palette %}
      --color-{{ name }}-{{ k }}: {{ v }};
    {%- endfor %}
  {%- endfor %}
}
