{% extends "./base.njk" %}

{% block head %}
	{{ super() }}
	<style>
		@import "/css/components/project-summary.css" layer(block);
	</style>
{% endblock %}
{% block content %}
	<div class="flow mbs-l" style="--space:var(--space-xl)">
		{% for project in collections.portfolio %}
			{% call components.projectSummary(project.data) %}
				{{ project.templateContent | safe }}
			{% endcall %}
		{% endfor %}
	</div>
{% endblock %}
