{% set bg %}{% triskaidecagon 130 %}{% endset %}

<header role="banner" class="[ center ] [ h-card p-author ]">
  <a href="/" class="[ name-mark ] [ u-url p-name ]" style="background-image:url('data:image/svg+xml;utf8,{{ bg
  }}')">
    <span class="first">Evan</span>
    <span class="last">Sheehan</span>
  </a>

  <div hidden>{% include "partials/avatar.njk" %}</div>
  {% include "partials/components/nav.njk" %}
</header>
