<footer id="site-footer" role="contentinfo" class="flow">
  <div class="cluster">
    <div>
      <hr />
      <p class="copyright">&copy; {{ site.copyright }}</p>
    </div>
  </div>

  <p class="colophon">
    <a href="/colophon/">Colophon</a>&emsp;&bull;&emsp;<a rel="me" href="https://vis.social/@darth_mall">Mastodon</a>&emsp;&bull;&emsp;<a href="/feed.xml">RSS</a>
  </p>
</footer>
