<footer id="site-footer" role="contentinfo">
  <div class="cluster">
    <div>
      <hr />
      <p class="copyright">&copy; {{ site.copyright }}</p>
    </div>
  </div>

  <p class="colophon"><a href="/colophon/">Colophon</a></p>
</footer>
