<header role="banner" class="h-card p-author">
  <a class="invisible" href="#Skip">Skip to content</a>
  <div class="align-self-stretch" data-layout="cluster">
    <a href="/" class="shape-circle u-url p-name margin-inline-end-auto" aria-label="Home">
      <img src="/img/evan.jpg" alt="" class="u-photo" width="120" height="120" />
    </a>
    {% include "partials/nav.njk" %}
  </div>
</header>
