<header role="banner">
  <a href="/" class="name-mark">
    <div class="first">Evan</div>
    <div class="last">Sheehan</div>
  </a>

  <nav aria-label="Main">
    <ul class="nav-list">
      {% for section in navigation %}
        <li class="item">
          <a href="{{ section }}">{{ section }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
