{% set skipList = ['all', 'posts', 'work'] %}
<ul aria-label="topics"
    class="list-reset type-body-3"
    data-layout="columns"
    data-space="fluid-md">
  {% for tag, pages in collections | dictsort %}
    {% if tag not in skipList %}
      <li class="flex-nowrap" data-layout="cluster" data-space="fluid-sm">
        <a href="/tags/{{ tag }}/" class="margin-inline-end-auto">{{ tag }}</a>
        <span>{{ pages.length }}</span>
      </li>
    {% endif %}
  {% endfor %}
</ul>

