<div class="theme-toggle pad-block-fluid-md">
  <div class="type-body-4"
       data-layout="cluster"
       data-cluster="center"
       data-space="fluid-xs"
       onclick="onThemeToggle(event)">
    <button data-toggle-theme="light">Light</button>
    <button data-toggle-theme="system" aria-pressed="true">System</button>
    <button data-toggle-theme="dark">Dark</button>
  </div>
</div>
