{% set target %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}
{% set mentions = webmentions | webmentionsForUrl(target) %}

<div class="pad-block-fluid-lg">
  <aside class="flow type-body-4">
    <h2>Webmentions</h2>
    <p>
      <a href="/weblog/2021/webmentions/">What’s a “Webmention”</a>, you ask?
    </p>
    {% for webmention in mentions %}
      <article class="webmention">
        <div class="webmention__avatar shape-circle">
          {% if webmention.author and webmention.author.photo %}
            <img src="{{ webmention.author.photo }}" alt="" loading="lazy" />
          {% else %}
            <div class="webmention__avatar--anonymous"></div>
          {% endif %}
        </div>

        <div class="webmention__author">
          <a href="{{ webmention.url }}">
            {%- if webmention.author -%}
              <strong>{{ webmention.author.name }}</strong>
            {%- else -%}
              <strong>Anonymous</strong>
            {%- endif -%}
          </a>
          <span>&mdash;
            <small>
              {% formatDate webmention.published %}
            </small>
          </span>
        </div>

        <div class="webmention__body">
          {% if webmention.content.text|length > 2000 -%}
            Mentioned {% if webmention.name -%}
              in <a href="{{ webmention.url }}">{{ webmention.name }}</a>
              {%- else -%}
              on <a href="{{ webmention.url }}">{% formatDate webmention.published %}</a>
              {%- endif %}
          {%- else -%}
            {{ webmention.content.text }}
          {%- endif %}.
        </div>
      </article>
    {% else %}
      <p>No one’s mentioned this post yet.</p>
    {% endfor %}

    <p data-space="fluid-md">Send me a webmention!</p>

    <form action="https://webmention.io/darthmall.net/webmention" method="post">
      <input name="target" type="hidden" value="{{ site.url }}{{ page.url }}">

      <label for="webmention-source">URL</label>

      <div data-layout="cluster" data-space="fluid-xs">
        <input id="webmention-source" name="source" type="url"
               class="flex-hulk"
               placeholder="https://example.com" required>

        <button type="submit" class="flex-grow align-self-stretch">Send Webmention</button>
      </div>
    </form>

  </aside>
</div>
